<div class="filter location">

  <h3>Location</h3>
  <ul>
    <%= state_abbr %>
    <%= county %>
    <%= msa_md %>
    <%= census_tract %>
  </ul>
  
</div>

<div class="filter lender">

  <h3>Lender</h3>
  <ul>
    <%= respondent_id %>
    <%= agency_code %>
  </ul>
  
</div>

<div class="filter property">

  <h3>Property</h3>
  <ul>
    <%= property_type %>
    <%= occupancy %>
  </ul>
  
</div>

<div class="filter borrower">
  
</div>

<div class="filter description">
  
</div>

<div class="filter action">
  
</div>
