// Normalize

@import (less) "vendor/normalize-css/normalize.css";

// Chosen.js

@import (less) "vendor/chosen/public/chosen.css";

// Grid

@import "vendor/ghost/dist/ghost.less";

// Ghost grid settings

@wrapper-width: 960px;

// Variables / Mixins

@import "less/variables.less";
@import "less/color.less";
@import "less/fonts.less";
@import "less/typo.less";
@import "less/forms.less";
@import "less/utils.less";
@import "less/mixins.less";

// Modules

@import "less/modules/hmda-hero.less";
@import "less/modules/filter.less";
@import "less/modules/chosen.less";

// Pages

@import "less/pages/homepage.less";
@import "less/pages/explore.less";
@import "less/pages/summary-table.less";

// Bootstrap, some of Bootstrap's variables were brought into variables.less
// so we import this last.

@import "vendor/bootstrap/less/tooltip.less";

// General housekeeping

body, html {
  margin: 0;
  background: @white;
  font-family: @body-font;
}

nav ul {
  padding-left: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

// Links

.hmda .continue {
  display: block;
  text-align: center;
  text-transform: uppercase;
  .avenir-next-bold;
}

// There's no global wrapper because sections of the page need 
// to bleed to the edge of the screen.

.hmda {

  header,
  footer {
    .wrapper();
  }

}

// Footer at the bottom of the page

.hmda {

  header {
    ul {
      .mobile-nav();
    }
    a.active {
      .avenir-next-bold;
    }
  }

  footer {
    //.row();
    .primary,
    .social {
      .column(12);
    }
  }

}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  .hmda {

    header {
      .logo {
        width: 30%;
        float: left;
      }
      nav {
        width: 70%;
        float: left;
        height: 30px;
        margin-top: 20px;
      }
      ul {
        .horiz();
        a {
          background-color: transparent;
          text-transform: capitalize;
          .avenir-next;
        }
      }
      .clearfix();
    }

    footer {
      .primary {
        .column(8);
      }
      .social {
        .column(4);
      }
    }

  }

}
