<ul class="fields location-set location-set-<%= num %>" data-location-num="<%= num %>">

  <% if (num === 1) { %>
    <div class="cf-alert msa-warning hidden">
      <span class="cf-icon cf-icon-delete-round highlight"></span>
      <p class="message">We have disabled metro area filters when you combine data for 2013 or earlier with data for 2014 or later, due to changes in MSA definitions.</p>
      <p class="action">To learn more, see <a href="#msa-note" id="highlight-msa-note">note above</a>.</p>
    </div>
  <% } %>

  <!-- filter field -->
  <li class="field state_code state_code-<%= num %>">
    <label for="state_code-<%= num %>">State:</label>
    <div class="widget select">
      <select class="param" name="state_code-<%= num %>" id="state_code-<%= num %>" data-dependent="county_code-<%= num %>" data-toggle="msamd-<%= num %>" data-placeholder="Select a state">
        <option value=""></option>
        <option value="1">Alabama</option>
        <option value="2">Alaska</option>
        <option value="4">Arizona</option>
        <option value="5">Arkansas</option>
        <option value="6">California</option>
        <option value="8">Colorado</option>
        <option value="9">Connecticut</option>
        <option value="10">Delaware</option>
        <option value="11">District of Columbia</option>
        <option value="12">Florida</option>
        <option value="13">Georgia</option>
        <option value="15">Hawaii</option>
        <option value="16">Idaho</option>
        <option value="17">Illinois</option>
        <option value="18">Indiana</option>
        <option value="19">Iowa</option>
        <option value="20">Kansas</option>
        <option value="21">Kentucky</option>
        <option value="22">Louisiana</option>
        <option value="23">Maine</option>
        <option value="24">Maryland</option>
        <option value="25">Massachusetts</option>
        <option value="26">Michigan</option>
        <option value="27">Minnesota</option>
        <option value="28">Mississippi</option>
        <option value="29">Missouri</option>
        <option value="30">Montana</option>
        <option value="31">Nebraska</option>
        <option value="32">Nevada</option>
        <option value="33">New Hampshire</option>
        <option value="34">New Jersey</option>
        <option value="35">New Mexico</option>
        <option value="36">New York</option>
        <option value="37">North Carolina</option>
        <option value="38">North Dakota</option>
        <option value="39">Ohio</option>
        <option value="40">Oklahoma</option>
        <option value="41">Oregon</option>
        <option value="42">Pennsylvania</option>
        <option value="44">Rhode Island</option>
        <option value="45">South Carolina</option>
        <option value="46">South Dakota</option>
        <option value="47">Tennessee</option>
        <option value="48">Texas</option>
        <option value="49">Utah</option>
        <option value="50">Vermont</option>
        <option value="51">Virginia</option>
        <option value="53">Washington</option>
        <option value="54">West Virginia</option>
        <option value="55">Wisconsin</option>
        <option value="56">Wyoming</option>
        <option value="72">Puerto Rico</option>
      </select>
    </div>
  </li>
  <!-- /filter field -->

  <li class="location-separator">
      <span>- or -</span>
  </li>

  <!-- filter field -->
  <li class="field msamd msamd-<%= num %>">
    <label for="msamd-<%= num %>">Metro Area:</label>
    <div class="widget select">
      <select class="param" name="msamd-<%= num %>" id="msamd-<%= num %>" data-toggle="state_code-<%= num %>" data-placeholder="Select an MSA/MD">
        <option value=""></option>
        <option value="10180">Abilene - TX</option>
        <option value="10380">Aguadilla, Isabela - PR</option>
        <option value="10420">Akron - OH</option>
        <option value="10500">Albany - GA</option>
        <option value="10540">Albany - OR (2014-2017)</option>
        <option value="10580">Albany, Schenectady, Troy - NY</option>
        <option value="10740">Albuquerque - NM</option>
        <option value="10780">Alexandria - LA</option>
        <option value="10900">Allentown, Bethlehem, Easton - PA, NJ</option>
        <option value="11020">Altoona - PA</option>
        <option value="11100">Amarillo - TX</option>
        <option value="11180">Ames - IA</option>
        <option value="11244">Anaheim, Santa Ana, Irvine - CA (2014-2017)</option>
        <option value="11260">Anchorage - AK</option>
        <option value="11300">Anderson - IN (2007-2013)</option>
        <option value="11340">Anderson - SC (2007-2013)</option>
        <option value="11460">Ann Arbor - MI</option>
        <option value="11500">Anniston, Oxford, Jacksonville - AL</option>
        <option value="11540">Appleton - WI</option>
        <option value="11640">Arecibo - PR (2014-2017)</option>
        <option value="11700">Asheville - NC</option>
        <option value="12020">Athens, Clarke County - GA</option>
        <option value="12060">Atlanta, Sandy Springs, Roswell - GA</option>
        <option value="12100">Atlantic City, Hammonton - NJ</option>
        <option value="12220">Auburn, Opelika - AL</option>
        <option value="12260">Augusta, Richmond County - GA, SC</option>
        <option value="12420">Austin, Round Rock - TX</option>
        <option value="12540">Bakersfield - CA</option>
        <option value="12580">Baltimore, Columbia, Towson - MD</option>
        <option value="12620">Bangor - ME</option>
        <option value="12700">Barnstable Town - MA</option>
        <option value="12940">Baton Rouge - LA</option>
        <option value="12980">Battle Creek - MI</option>
        <option value="13020">Bay City - MI</option>
        <option value="13140">Beaumont, Port Arthur - TX</option>
        <option value="13220">Beckley - WV (2014-2017)</option>
        <option value="13380">Bellingham - WA</option>
        <option value="13460">Bend, Redmond - OR</option>
        <option value="13644">Bethesda, Rockville, Frederick - MD (2007-2013)</option>
        <option value="13740">Billings - MT</option>
        <option value="13780">Binghamton - NY</option>
        <option value="13820">Birmingham, Hoover - AL</option>
        <option value="13900">Bismarck - ND</option>
        <option value="13980">Blacksburg, Christiansburg, Radford - VA</option>
        <option value="14010">Bloomington - IL (2014-2017)</option>
        <option value="14020">Bloomington - IN</option>
        <option value="14060">Bloomington, Normal - IL (2007-2013)</option>
        <option value="14100">Bloomsburg, Berwick - PA (2014-2017)</option>
        <option value="14260">Boise City - ID</option>
        <option value="14454">Boston - MA (2014-2017)</option>
        <option value="14484">Boston, Quincy - MA (2007-2013)</option>
        <option value="14500">Boulder - CO</option>
        <option value="14540">Bowling Green - KY</option>
        <option value="14600">Bradenton, Sarasota, Venice - FL (2008-2009)</option>
        <option value="14740">Bremerton, Silverdale - WA</option>
        <option value="14860">Bridgeport, Stamford, Norwalk - CT</option>
        <option value="15180">Brownsville, Harlingen - TX</option>
        <option value="15260">Brunswick - GA</option>
        <option value="15380">Buffalo, Cheektowaga, Niagara Falls - NY</option>
        <option value="15500">Burlington - NC</option>
        <option value="15540">Burlington, South Burlington - VT</option>
        <option value="15680">California, Lexington Park - MD (2014-2017)</option>
        <option value="15764">Cambridge, Newton, Framingham - MA</option>
        <option value="15804">Camden - NJ</option>
        <option value="15940">Canton, Massillon - OH</option>
        <option value="15980">Cape Coral, Fort Myers - FL</option>
        <option value="16020">Cape Girardeau - MO, IL (2009-2017)</option>
        <option value="16060">Carbondale, Marion - IL (2014-2017)</option>
        <option value="16180">Carson City - NV</option>
        <option value="16220">Casper - WY</option>
        <option value="16300">Cedar Rapids - IA</option>
        <option value="16540">Chambersburg, Waynesboro - PA (2014-2017)</option>
        <option value="16580">Champaign, Urbana - IL</option>
        <option value="16620">Charleston - WV</option>
        <option value="16700">Charleston, North Charleston - SC</option>
        <option value="16740">Charlotte, Concord, Gastonia - NC, SC</option>
        <option value="16820">Charlottesville - VA</option>
        <option value="16860">Chattanooga - TN, GA</option>
        <option value="16940">Cheyenne - WY</option>
        <option value="16974">Chicago, Naperville, Arlington Heights - IL</option>
        <option value="17020">Chico - CA</option>
        <option value="17140">Cincinnati - OH, KY, IN</option>
        <option value="17300">Clarksville - TN, KY</option>
        <option value="17420">Cleveland - TN</option>
        <option value="17460">Cleveland, Elyria - OH</option>
        <option value="17660">Coeur D'Alene - ID</option>
        <option value="17780">College Station, Bryan - TX</option>
        <option value="17820">Colorado Springs - CO</option>
        <option value="17860">Columbia - MO</option>
        <option value="17900">Columbia - SC</option>
        <option value="17980">Columbus - GA, AL</option>
        <option value="18020">Columbus - IN</option>
        <option value="18140">Columbus - OH</option>
        <option value="18580">Corpus Christi - TX</option>
        <option value="18700">Corvallis - OR</option>
        <option value="18880">Crestview, Fort Walton Beach, Destin - FL (2010-2017)</option>
        <option value="19060">Cumberland - MD, WV</option>
        <option value="19124">Dallas, Plano, Irving - TX</option>
        <option value="19140">Dalton - GA</option>
        <option value="19180">Danville - IL</option>
        <option value="19260">Danville - VA (2007-2013)</option>
        <option value="19300">Daphne, Fairhope, Foley - AL (2014-2017)</option>
        <option value="19340">Davenport, Moline, Rock Island - IA, IL</option>
        <option value="19380">Dayton - OH</option>
        <option value="19460">Decatur - AL</option>
        <option value="19500">Decatur - IL</option>
        <option value="19660">Deltona, Daytona Beach, Ormond Beach - FL</option>
        <option value="19740">Denver, Aurora, Lakewood - CO</option>
        <option value="19780">Des Moines, West Des Moines - IA</option>
        <option value="19804">Detroit, Dearborn, Livonia - MI</option>
        <option value="20020">Dothan - AL</option>
        <option value="20100">Dover - DE</option>
        <option value="20220">Dubuque - IA</option>
        <option value="20260">Duluth - MN, WI</option>
        <option value="20500">Durham, Chapel Hill - NC</option>
        <option value="20524">Dutchess County, Putnam County - NY (2014-2017)</option>
        <option value="20700">East Stroudsburg - PA (2014-2017)</option>
        <option value="20740">Eau Claire - WI</option>
        <option value="20764">Edison, New Brunswick - NJ (2007-2013)</option>
        <option value="20940">El Centro - CA</option>
        <option value="20994">Elgin - IL (2014-2017)</option>
        <option value="21060">Elizabethtown, Fort Knox - KY</option>
        <option value="21140">Elkhart, Goshen - IN</option>
        <option value="21300">Elmira - NY</option>
        <option value="21340">El Paso - TX</option>
        <option value="21420">Enid - OK (2016-2017)</option>
        <option value="21500">Erie - PA</option>
        <option value="21660">Eugene - OR</option>
        <option value="21780">Evansville - IN, KY</option>
        <option value="21820">Fairbanks - AK</option>
        <option value="21940">Fajardo - PR (2007-2013)</option>
        <option value="22020">Fargo - ND, MN</option>
        <option value="22140">Farmington - NM</option>
        <option value="22180">Fayetteville - NC</option>
        <option value="22220">Fayetteville, Springdale, Rogers - AR, MO</option>
        <option value="22380">Flagstaff - AZ</option>
        <option value="22420">Flint - MI</option>
        <option value="22500">Florence - SC</option>
        <option value="22520">Florence, Muscle Shoals - AL</option>
        <option value="22540">Fond du Lac - WI</option>
        <option value="22660">Fort Collins - CO</option>
        <option value="22744">Fort Lauderdale, Pompano Beach, Deerfield Beach - FL</option>
        <option value="22900">Fort Smith - AR, OK</option>
        <option value="23020">Fort Walton Beach, Crestview, Destin - FL (2007-2009)</option>
        <option value="23060">Fort Wayne - IN</option>
        <option value="23104">Fort Worth, Arlington - TX</option>
        <option value="23420">Fresno - CA</option>
        <option value="23460">Gadsden - AL</option>
        <option value="23540">Gainesville - FL</option>
        <option value="23580">Gainesville - GA</option>
        <option value="23844">Gary - IN</option>
        <option value="23900">Gettysburg - PA (2014-2017)</option>
        <option value="24020">Glens Falls - NY</option>
        <option value="24140">Goldsboro - NC</option>
        <option value="24220">Grand Forks - ND, MN</option>
        <option value="24260">Grand Island - NE (2014-2017)</option>
        <option value="24300">Grand Junction - CO</option>
        <option value="24340">Grand Rapids, Wyoming - MI</option>
        <option value="24420">Grants Pass - OR (2014-2017)</option>
        <option value="24500">Great Falls - MT</option>
        <option value="24540">Greeley - CO</option>
        <option value="24580">Green Bay - WI</option>
        <option value="24660">Greensboro, High Point - NC</option>
        <option value="24780">Greenville - NC</option>
        <option value="24860">Greenville, Anderson, Mauldin - SC</option>
        <option value="25020">Guayama - PR</option>
        <option value="25060">Gulfport, Biloxi, Pascagoula - MS</option>
        <option value="25180">Hagerstown, Martinsburg - MD, WV</option>
        <option value="25220">Hammond - LA (2014-2017)</option>
        <option value="25260">Hanford, Corcoran - CA</option>
        <option value="25420">Harrisburg, Carlisle - PA</option>
        <option value="25500">Harrisonburg - VA</option>
        <option value="25540">Hartford, West Hartford, East Hartford - CT</option>
        <option value="25620">Hattiesburg - MS</option>
        <option value="25860">Hickory, Lenoir, Morganton - NC</option>
        <option value="25940">Hilton Head Island, Bluffton, Beaufort - SC (2014-2017)</option>
        <option value="25980">Hinesville - GA</option>
        <option value="26100">Holland, Grand Haven - MI (2007-2013)</option>
        <option value="26140">Homosassa Springs - FL (2014-2017)</option>
        <option value="26180">Honolulu - HI (2007-2013)</option>
        <option value="26300">Hot Springs - AR</option>
        <option value="26380">Houma, Thibodaux - LA</option>
        <option value="26420">Houston, The Woodlands, Sugar Land - TX</option>
        <option value="26580">Huntington, Ashland - WV, KY, OH</option>
        <option value="26620">Huntsville - AL</option>
        <option value="26820">Idaho Falls - ID</option>
        <option value="26900">Indianapolis, Carmel, Anderson - IN</option>
        <option value="26980">Iowa City - IA</option>
        <option value="27060">Ithaca - NY</option>
        <option value="27100">Jackson - MI</option>
        <option value="27140">Jackson - MS</option>
        <option value="27180">Jackson - TN</option>
        <option value="27260">Jacksonville - FL</option>
        <option value="27340">Jacksonville - NC</option>
        <option value="27500">Janesville, Beloit - WI</option>
        <option value="27620">Jefferson City - MO</option>
        <option value="27740">Johnson City - TN</option>
        <option value="27780">Johnstown - PA</option>
        <option value="27860">Jonesboro - AR</option>
        <option value="27900">Joplin - MO</option>
        <option value="27980">Kahului, Wailuku, Lahaina - HI (2014-2017)</option>
        <option value="28020">Kalamazoo, Portage - MI</option>
        <option value="28100">Kankakee - IL</option>
        <option value="28140">Kansas City - MO, KS</option>
        <option value="28420">Kennewick, Richland - WA</option>
        <option value="28660">Killeen, Temple - TX</option>
        <option value="28700">Kingsport, Bristol, Bristol - TN, VA</option>
        <option value="28740">Kingston - NY</option>
        <option value="28940">Knoxville - TN</option>
        <option value="29020">Kokomo - IN</option>
        <option value="29100">La Crosse, Onalaska - WI, MN</option>
        <option value="29140">Lafayette - IN (2007-2013)</option>
        <option value="29180">Lafayette - LA</option>
        <option value="29200">Lafayette, West Lafayette - IN (2014-2017)</option>
        <option value="29340">Lake Charles - LA</option>
        <option value="29404">Lake County, Kenosha County - IL, WI</option>
        <option value="29420">Lake Havasu City, Kingman - AZ</option>
        <option value="29460">Lakeland, Winter Haven - FL</option>
        <option value="29540">Lancaster - PA</option>
        <option value="29620">Lansing, East Lansing - MI</option>
        <option value="29700">Laredo - TX</option>
        <option value="29740">Las Cruces - NM</option>
        <option value="29820">Las Vegas, Henderson, Paradise - NV</option>
        <option value="29940">Lawrence - KS</option>
        <option value="30020">Lawton - OK</option>
        <option value="30140">Lebanon - PA</option>
        <option value="30300">Lewiston - ID, WA</option>
        <option value="30340">Lewiston, Auburn - ME</option>
        <option value="30460">Lexington, Fayette - KY</option>
        <option value="30620">Lima - OH</option>
        <option value="30700">Lincoln - NE</option>
        <option value="30780">Little Rock, North Little Rock, Conway - AR</option>
        <option value="30860">Logan - UT, ID</option>
        <option value="30980">Longview - TX</option>
        <option value="31020">Longview - WA</option>
        <option value="31084">Los Angeles, Long Beach, Glendale - CA</option>
        <option value="31140">Louisville, Jefferson County - KY, IN</option>
        <option value="31180">Lubbock - TX</option>
        <option value="31340">Lynchburg - VA</option>
        <option value="31420">Macon, Bibb County - GA</option>
        <option value="31460">Madera - CA</option>
        <option value="31540">Madison - WI</option>
        <option value="31700">Manchester, Nashua - NH</option>
        <option value="31740">Manhattan - KS (2009-2017)</option>
        <option value="31860">Mankato, North Mankato - MN (2009-2017)</option>
        <option value="31900">Mansfield - OH</option>
        <option value="32420">Mayaguez - PR</option>
        <option value="32580">McAllen, Edinburg, Mission - TX</option>
        <option value="32780">Medford - OR</option>
        <option value="32820">Memphis - TN, MS, AR</option>
        <option value="32900">Merced - CA</option>
        <option value="33124">Miami, Miami Beach, Kendall - FL</option>
        <option value="33140">Michigan City, La Porte - IN</option>
        <option value="33220">Midland - MI (2014-2017)</option>
        <option value="33260">Midland - TX</option>
        <option value="33340">Milwaukee, Waukesha, West Allis - WI</option>
        <option value="33460">Minneapolis, St. Paul, Bloomington - MN, WI</option>
        <option value="33540">Missoula - MT</option>
        <option value="33660">Mobile - AL</option>
        <option value="33700">Modesto - CA</option>
        <option value="33740">Monroe - LA</option>
        <option value="33780">Monroe - MI</option>
        <option value="33860">Montgomery - AL</option>
        <option value="33874">Montgomery County, Bucks County, Chester County - PA (2014-2017)</option>
        <option value="34060">Morgantown - WV</option>
        <option value="34100">Morristown - TN</option>
        <option value="34580">Mount Vernon, Anacortes - WA</option>
        <option value="34620">Muncie - IN</option>
        <option value="34740">Muskegon - MI</option>
        <option value="34820">Myrtle Beach, Conway, North Myrtle Beach - SC, NC</option>
        <option value="34900">Napa - CA</option>
        <option value="34940">Naples, Immokalee, Marco Island - FL</option>
        <option value="34980">Nashville-Davidson, Murfreesboro, Franklin - TN</option>
        <option value="35004">Nassau County, Suffolk County - NY</option>
        <option value="35084">Newark - NJ, PA</option>
        <option value="35100">New Bern - NC (2014-2017)</option>
        <option value="35300">New Haven, Milford - CT</option>
        <option value="35380">New Orleans, Metairie - LA</option>
        <option value="35614">New York, Jersey City, White Plains - NY, NJ (2014-2017)</option>
        <option value="35644">New York, White Plains, Wayne - NY, NJ (2007-2013)</option>
        <option value="35660">Niles, Benton Harbor - MI</option>
        <option value="35840">North Port, Sarasota, Bradenton - FL (2010-2017)</option>
        <option value="35980">Norwich, New London - CT</option>
        <option value="36084">Oakland, Hayward, Berkeley - CA</option>
        <option value="36100">Ocala - FL</option>
        <option value="36140">Ocean City - NJ</option>
        <option value="36220">Odessa - TX</option>
        <option value="36260">Ogden, Clearfield - UT</option>
        <option value="36420">Oklahoma City - OK</option>
        <option value="36500">Olympia, Tumwater - WA</option>
        <option value="36540">Omaha, Council Bluffs - NE, IA</option>
        <option value="36740">Orlando, Kissimmee, Sanford - FL</option>
        <option value="36780">Oshkosh, Neenah - WI</option>
        <option value="36980">Owensboro - KY</option>
        <option value="37100">Oxnard, Thousand Oaks, Ventura - CA</option>
        <option value="37340">Palm Bay, Melbourne, Titusville - FL</option>
        <option value="37380">Palm Coast - FL (2007-2013)</option>
        <option value="37460">Panama City - FL</option>
        <option value="37620">Parkersburg, Vienna - WV</option>
        <option value="37700">Pascagoula - MS (2007-2013)</option>
        <option value="37764">Peabody - MA (2007-2013)</option>
        <option value="37860">Pensacola, Ferry Pass, Brent - FL</option>
        <option value="37900">Peoria - IL</option>
        <option value="37964">Philadelphia - PA</option>
        <option value="38060">Phoenix, Mesa, Scottsdale - AZ</option>
        <option value="38220">Pine Bluff - AR</option>
        <option value="38300">Pittsburgh - PA</option>
        <option value="38340">Pittsfield - MA</option>
        <option value="38540">Pocatello - ID</option>
        <option value="38660">Ponce - PR</option>
        <option value="38860">Portland, South Portland - ME</option>
        <option value="38900">Portland, Vancouver, Hillsboro - OR, WA</option>
        <option value="38940">Port St. Lucie - FL</option>
        <option value="39100">Poughkeepsie, Newburgh, Middletown - NY (2007-2013)</option>
        <option value="39140">Prescott - AZ</option>
        <option value="39300">Providence, Warwick - RI, MA</option>
        <option value="39340">Provo, Orem - UT</option>
        <option value="39380">Pueblo - CO</option>
        <option value="39460">Punta Gorda - FL</option>
        <option value="39540">Racine - WI</option>
        <option value="39580">Raleigh - NC</option>
        <option value="39660">Rapid City - SD</option>
        <option value="39740">Reading - PA</option>
        <option value="39820">Redding - CA</option>
        <option value="39900">Reno - NV</option>
        <option value="40060">Richmond - VA</option>
        <option value="40140">Riverside, San Bernardino, Ontario - CA</option>
        <option value="40220">Roanoke - VA</option>
        <option value="40340">Rochester - MN</option>
        <option value="40380">Rochester - NY</option>
        <option value="40420">Rockford - IL</option>
        <option value="40484">Rockingham County, Strafford County - NH</option>
        <option value="40580">Rocky Mount - NC</option>
        <option value="40660">Rome - GA</option>
        <option value="40900">Sacramento, Roseville, Arden-Arcade - CA</option>
        <option value="40980">Saginaw - MI</option>
        <option value="41060">St. Cloud - MN</option>
        <option value="41100">St. George - UT</option>
        <option value="41140">St. Joseph - MO, KS</option>
        <option value="41180">St. Louis - MO, IL</option>
        <option value="41420">Salem - OR</option>
        <option value="41500">Salinas - CA</option>
        <option value="41540">Salisbury - MD, DE</option>
        <option value="41620">Salt Lake City - UT</option>
        <option value="41660">San Angelo - TX</option>
        <option value="41700">San Antonio, New Braunfels - TX</option>
        <option value="41740">San Diego, Carlsbad - CA</option>
        <option value="41780">Sandusky - OH (2007-2013)</option>
        <option value="41884">San Francisco, Redwood City, South San Francisco - CA</option>
        <option value="41900">San German - PR</option>
        <option value="41940">San Jose, Sunnyvale, Santa Clara - CA</option>
        <option value="41980">San Juan, Carolina, Caguas - PR</option>
        <option value="42020">San Luis Obispo, Paso Robles, Arroyo Grande - CA</option>
        <option value="42034">San Rafael - CA (2014-2017)</option>
        <option value="42044">Santa Ana, Anaheim, Irvine - CA (2007-2013)</option>
        <option value="42060">Santa Barbara, Santa Maria, Goleta - CA (2007-2013)</option>
        <option value="42100">Santa Cruz, Watsonville - CA</option>
        <option value="42140">Santa Fe - NM</option>
        <option value="42200">Santa Maria, Santa Barbara - CA (2014-2017)</option>
        <option value="42220">Santa Rosa - CA</option>
        <option value="42260">Sarasota, Bradenton, Venice - FL (2007)</option>
        <option value="42340">Savannah - GA</option>
        <option value="42540">Scranton, Wilkes-Barre, Hazleton - PA</option>
        <option value="42644">Seattle, Bellevue, Everett - WA</option>
        <option value="42680">Sebastian, Vero Beach - FL</option>
        <option value="42700">Sebring - FL (2014-2017)</option>
        <option value="43100">Sheboygan - WI</option>
        <option value="43300">Sherman, Denison - TX</option>
        <option value="43340">Shreveport, Bossier City - LA</option>
        <option value="43420">Sierra Vista, Douglas - AZ (2014-2017)</option>
        <option value="43524">Silver Spring, Frederick, Rockville - MD (2014-2017)</option>
        <option value="43580">Sioux City - IA, NE, SD</option>
        <option value="43620">Sioux Falls - SD</option>
        <option value="43780">South Bend, Mishawaka - IN, MI</option>
        <option value="43900">Spartanburg - SC</option>
        <option value="44060">Spokane, Spokane Valley - WA</option>
        <option value="44100">Springfield - IL</option>
        <option value="44140">Springfield - MA</option>
        <option value="44180">Springfield - MO</option>
        <option value="44220">Springfield - OH</option>
        <option value="44300">State College - PA</option>
        <option value="44420">Staunton, Waynesboro - VA (2014-2017)</option>
        <option value="44600">Steubenville, Weirton - OH, WV (2010-2013)</option>
        <option value="44700">Stockton, Lodi - CA</option>
        <option value="44940">Sumter - SC</option>
        <option value="45060">Syracuse - NY</option>
        <option value="45104">Tacoma, Lakewood - WA</option>
        <option value="45220">Tallahassee - FL</option>
        <option value="45300">Tampa, St. Petersburg, Clearwater - FL</option>
        <option value="45460">Terre Haute - IN</option>
        <option value="45500">Texarkana - TX, AR</option>
        <option value="45540">The Villages - FL (2014-2017)</option>
        <option value="45780">Toledo - OH</option>
        <option value="45820">Topeka - KS</option>
        <option value="45940">Trenton - NJ</option>
        <option value="46060">Tucson - AZ</option>
        <option value="46140">Tulsa - OK</option>
        <option value="46220">Tuscaloosa - AL</option>
        <option value="46340">Tyler - TX</option>
        <option value="46520">Urban Honolulu - HI (2014-2017)</option>
        <option value="46540">Utica, Rome - NY</option>
        <option value="46660">Valdosta - GA</option>
        <option value="46700">Vallejo, Fairfield - CA</option>
        <option value="47020">Victoria - TX</option>
        <option value="47220">Vineland, Bridgeton - NJ</option>
        <option value="47260">Virginia Beach, Norfolk, Newport News - VA, NC</option>
        <option value="47300">Visalia, Porterville - CA</option>
        <option value="47380">Waco - TX</option>
        <option value="47460">Walla Walla - WA (2014-2017)</option>
        <option value="47580">Warner Robins - GA</option>
        <option value="47644">Warren, Troy, Farmington Hills - MI (2007-2013)</option>
        <option value="47664">Warren, Troy, Farmington Hills - MI (2014-2017)</option>
        <option value="47894">Washington, Arlington, Alexandria - DC, VA, MD, WV</option>
        <option value="47940">Waterloo, Cedar Falls - IA</option>
        <option value="48060">Watertown, Fort Drum - NY (2014-2017)</option>
        <option value="48140">Wausau - WI</option>
        <option value="48260">Weirton, Steubenville - WV, OH (2007-2009, 2014-2017)</option>
        <option value="48300">Wenatchee - WA</option>
        <option value="48424">West Palm Beach, Boca Raton, Delray Beach - FL</option>
        <option value="48540">Wheeling - WV, OH</option>
        <option value="48620">Wichita - KS</option>
        <option value="48660">Wichita Falls - TX</option>
        <option value="48700">Williamsport - PA</option>
        <option value="48864">Wilmington - DE, MD, NJ</option>
        <option value="48900">Wilmington - NC</option>
        <option value="49020">Winchester - VA, WV</option>
        <option value="49180">Winston, Salem - NC</option>
        <option value="49340">Worcester - MA, CT</option>
        <option value="49420">Yakima - WA</option>
        <option value="49500">Yauco - PR (2007-2013)</option>
        <option value="49620">York, Hanover - PA</option>
        <option value="49660">Youngstown, Warren, Boardman - OH, PA</option>
        <option value="49700">Yuba City - CA</option>
        <option value="49740">Yuma - AZ</option>
      </select>
    </div>
    <div class="help" role="tooltip"><i class="icon-help-alt"></i></div>
    <span class="help-text">A Metropolitan Statistical Area (MSA) is a region with relatively high population density at its core (usually a single large city) and close economic ties throughout. Larger MSAs are divided into Metropolitan Divisions (MDs).</span>
  </li>
  <!-- /filter field -->

  <!-- filter field -->
  <li class="field county_code county_code-<%= num %> disabled hidden">
    <label for="county_code-<%= num %>">County:</label>
    <div class="widget select">
      <select class="param" name="county_code-<%= num %>" id="county_code-<%= num %>" multiple data-concept="fips" data-dependent="census_tract_number-<%= num %>" data-concept-property="county_name" data-placeholder="Select a state above" data-pre-placeholder="Select a state above" data-post-placeholder="Select a county" disabled>
      </select>
    </div>
  </li>
  <!-- /filter field -->

  <!-- filter field -->
  <li class="field census_tract_number census_tract_number-<%= num %> disabled hidden">
    <label for="census_tract_number-<%= num %>">Census tract:</label>
    <div class="widget select">
      <select class="param" name="census_tract_number-<%= num %>" id="census_tract_number-<%= num %>" multiple data-concept="census_tract_number" data-placeholder="Select a state above" data-pre-placeholder="Select a state above" data-post-placeholder="Select a census tract" disabled>
      </select>
    </div>
    <div class="help" role="tooltip"><i class="icon-help-alt"></i></div>
    <span class="help-text">A census tract is a small geographic area within a county. Census tracts vary in size, but on average about 4,000 people live in a census tract. Census tract numbers are unique within a county.</span>
  </li>
  <!-- /filter field -->

<ul>

