// Mobile first!

html, body {height: 100%;}


.api-docs {
  
  .hero {
    h1 {
      padding-bottom: 5px;
      background: transparent url() scroll no-repeat left center;
      .avenir-next-bold;
      .at2x( '../img/icon_api-docs.png', 42px, 42px );
    }

  }

}

#api-docs {

  p {
    display: inline-block;
    margin-right: 4%;
    font-size: 1em;
    line-height: 1.375em;
    }
  .links {
    display: inline-block;
    vertical-align: top;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      }
    li {
      margin-bottom: 10px;
    }
    h2 {.avenir-next-demi;}

    .hmda footer {margin-top: 0;}
}



// Adjustments for larger screens

@media only screen and ( min-width: 768px ) {
  #wrap {min-height: 100%;}
  #main {overflow: auto; margin-bottom: -214px;} 
  #footer {position: relative; margin-top: -214px; height: 214px; clear:both;}

  #api-docs {

  
  .inner {
    padding: 15px 0 0 0;  
    }     
  p {
    width: 66%;
    display: inline-block;
    margin-right: 4%;
    margin-bottom: .025em;
    font-size: 1em;
    line-height: 1.375em;
    float: left;
    }
  .links {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    }
  ul {
      list-style-type: none;
      padding-left: 0;
      }
  li {
      margin-bottom: 10px;
    }
  h2 {.avenir-next-demi;}
  

  }

}
