// Header on explore page

.explore {

  .hero {
    
    &> .inner {
      .wrapper();
    }

    h1 {
      font-size: 30px;
      margin: 5px 0;
    }

    nav {
      .avenir-next-bold;
      text-transform: uppercase;
      a {
        color: @black;
      }
    }

    .clearfix();

  }

}

// Wrapper on explore page

#filters {

  .wrapper();
  margin-top: 40px;
  //.transparent();
  
  h2 {
    margin-top: 50px;
  }

  &.ready {
    //.opaque();
  }

  &.loading {
    //.translucent();
  }

}

// Top banner

.hero {

  h1 {

  }

}

// Download and share sections

.download-and-share {

  //margin-top: 50px;

  .inner {
    background-color: #f4f3f2;
    padding: 15px;
  }

  label {

  }

  .widget {
    border-right: 0;
    input {
      width: 100%;
    }
  }

  .action {
    margin-top: 20px;
    text-align: right;
  }

}

.download,
.share {
  .column( 12 );
  border: 0;
}

@media only screen and ( min-width: 768px ) {

  .explore {

    h1 {
      float: left;
    }

    .hero {
      
      background-color: #FAB051;
      margin-top: 20px;
      padding-top: 5px;
      border-bottom: 5px solid gray;

      nav {
        float: left;
        ul {
          margin: 20px 0 0;
        }
        li {
          margin: 0 0 0 20px;
        }
      }

      a:hover,
      a:active,
      a.active {
        text-decoration: none;
        padding-bottom: 9px;
        border-bottom: 5px solid @black;
      }

    }

  }

  .download-and-share {

    label {
      .column( 2, 6 );
      text-align: right;
    }

    .widget {
      .column( 4, 6 );
      border-right: 0;
    }

  }

  .download {
    .column( 6 );
    border-left: 0;
  }

  .share {
    .column( 6 );
    border-right: 0;
  }

}
