// Header on explore page

.explore {

  .hero {
    
    &> .inner {
      .wrapper();
    }

    h1 {
      font-size: 34px;
      padding: 5px 0 5px 50px;
      display: inline-block;
      margin-bottom: 5px;
      background: transparent url() scroll no-repeat left center;
      .at2x( '../img/icon_explore-data.png', 42px, 42px );
    }

    nav {
      .avenir-next-bold;
      text-transform: uppercase;
      a {
        color: @black;
        .avenir-next;
        &.active {
          .avenir-next-bold;
        }
      }
      ul {
        .mobile-nav();
      }
      li {
        display: block;
      }
    }

    .clearfix();

  }

  .helper-text {
    label {
    font-size: .75em;
    padding-bottom: 0;
    }
  }

  .ffiec-lookup {
    font-size: .875em;
    margin-top: .5em; 
  }

  .lender-name-temp {
    list-style-type: none;
    margin-bottom: 1.75em;
    font-size: .875em;

    .lender-name-label {
      width: 25%;
      margin: 0 15px;
      display: inline-block;
      vertical-align: top;
      .avenir-next-demi;
      text-align: right;      
    }

    .lender-name-text {
      .avenir-next;
      width: 50%;
      margin: 0 15px;
      display: inline-block; 
      vertical-align: top;
      text-align: left;
 
    }
    
  }

  .coming-soon {
    font-size: .875em;
  }

  .sub-header {
    .avenir-next-demi;
    display: block;
    text-transform: uppercase;
    margin: 0;
  }

  .pipe {
    padding: 0 15px;
    position: relative;
    bottom: 2px;
    color: @dark_field;
  }

  .preview i {
    margin-left: 10px;
  }

  // File size estimation
  .download-size {
    font-style: italic;
    font-size: .75em;
    float: left;
  }

  .spinnergif {
    position: relative;
    bottom: 3px;
  }

}

// Wrapper on explore page

#filters,
#summary {

  .wrapper();
  margin-top: 40px;
  .invisible();
  
  h2 {
    margin-top: 40px;
    padding-bottom: 5px;
    .avenir-next-demi;
    font-size: 1.5em;
  }

  .pipe {
    padding: 0 15px;
    position: relative;
    bottom: 2px;
    color: @dark_field;
  }

  &.ready {
    .opaque();
    // display: block;
    // animation: fadein .2s;
    // -moz-animation: fadein .2s;
    // -webkit-animation: fadein .2s;
    // -o-animation: fadein .2s;
  }

  &.loading {
    // .translucent();
  }

}

// Top banner

.hero {

  h1 {
    .avenir-next-bold;
  }

}

// Download and share sections

.download-share {

  input[type=select] {
    width: 100%;
  }
  
  section {
    .column( 12 );
    border: 0;
  }

  .inner {
    background-color: @light_field10;
    padding: 25px 30px;
  }

  label {
    .avenir-next-demi;
    margin-right: 15px;
    padding: 0 0 .5em 0;
  }

  .widget {
    border-right: 0;
    input[type=radio] {
      margin: 0 8px 0 0;
    }
    label {
      .avenir-next;
    }
  }

  .share_url {
    width: 100%;
  }

  .help {
    margin-left: 5px;
    height: auto;
  }

  .select {
    margin-bottom: 20px;
  }

  .action {
    margin-top: 20px;
    text-align: left;
  }

}

#all{
  h3 {
    .avenir-next-demi;
  }
}

#download-button,
#download-raw-button {
  display: block;
}

// Calculations

.calculating {
  //.spin_16;
  display: inline-block;
}

// Messages on the explore page

.msg {
  &.error {
    margin: 0 0 10px;
    background-color: @red_orange;
    color: @white;
    font-weight: 600;
    padding: 10px;
    font-size: .875em;
    a {
      color: @white;
      text-decoration: underline;
    }
  }
  &.mobile-warning,
  &.javascript-warning,
  &.msa-warning {
    .avenir-next-demi;
    margin: 10px 0 10px;
    background-color: @red_orange;
    color: @white;
    font-weight: 600;
    padding: 10px;
    font-size: .875em;
    a {
      color: @white;
      text-decoration: underline;
    }
    p {
      margin: 0;
    }
  }
}

.no-js {
  .js-disabled {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media only screen and ( min-width: 768px ) {

  .explore {

    h1 {
      float: left;
      display: block;
    }

    .hero {
      
      background-color: #FAB051;
      padding: 5px 0 0;
      border-bottom: 5px solid @light_field20;
      position: relative;

      &> .inner {
        text-align: left;
      }

      nav {
        margin: 0 0 0 13px;
        float: left;
        position: relative;
        width: 54.5%;
        ul {
          .horiz();
          margin: 19px 0 0;
          height: 44px;
          position: absolute;
          bottom: -60px;
          a {
            .avenir-next-bold;
            background-color: transparent;
          }
        }
        li {
          margin: 0 0 0 25px;
          display: inline-block;
        }
      }

      a:hover,
      a:active,
      a.active {
        text-decoration: none;
        padding-bottom: 16px;
        border-bottom: 5px solid @dark_field;
        background-color: transparent !important;
      }

    }

  }

  .download-share {

    .widget {
      border-right: 0;
      label {
        text-align: left;
        border: 0;
      }
      input {
        width: 100%;
        margin: 0;
      }
      input[type=radio] {
        width: 20px;
      }
    }

    #download {
      border-left: 0;
    }

    #share {
      border-right: 0;
      label {
        border: 0;
      }
      .share-url-width {
        width: 180%;
      }
    }

    .codes {
      width: 100%;
      .avenir-next;
      font-weight: 400;
    }

    .help {
      margin-left: 0;
    }

    .bump-up {
      top: 0;
    }

    .btn-bump-down {
      margin-top: 5px;
    }

  }

  .download-share.no-summary {

    section {
      .column( 6 );
      .inner {
        min-height: 275px;
      }
    }

  }

  .download-share.summary {

    section {
      .column( 4 );
      .inner {
        min-height: 290px;
      }
    }

    .widget {
      width: 100%;

    }

  }

  .msg {
    &.mobile-warning {
      display: none;
    }
  }

}













/* ==========================================================================
   Capital Framework
   Less variables
   ========================================================================== */


/* topdoc
  name: Theme variables
  family: cf-core
  notes:
    - "The following color and sizing variables are exposed, allowing you to
       easily override them before compiling."
  patterns:
    - name: Sizing
      codenotes:
        - |
          @base-font-size-px
          @base-line-height-px
          @base-line-height
          @mobile-max
          @tablet-min
    - name: Colors
      codenotes:
        - |
          @text
          @link-text
          @link-underline
          @link-text-visited
          @link-underline-visited
          @link-text-hover
          @link-underline-hover
          @link-text-active
          @link-underline-active
          @thead-text
          @thead-bg
          @td-bg
          @td-bg-alt
          @input-bg
          @input-border
          @input-border-focus
          @input-placeholder
          @figure__bordered
  tags:
    - cf-core
*/

// Sizing variables 

@base-font-size-px:             16px;
@base-line-height-px:           22px;
@base-line-height:              unit(@base-line-height-px / @base-font-size-px);
@mobile-max:                    599px;
@tablet-min:                    600px;

// Color variables 

// body
@text:                          darken(#895983, 15%);

// a
@link-text:                     #c7336e;
@link-underline:                #c7336e;
@link-text-visited:             lighten(@link-text, 5%);
@link-underline-visited:        lighten(@link-underline, 5%);
@link-text-hover:               darken(@link-text, 10%);
@link-underline-hover:          darken(@link-underline, 10%);
@link-text-active:              darken(@link-text, 15%);
@link-underline-active:         darken(@link-underline, 15%);

// thead
@thead-text:                    #fff;
@thead-bg:                      darken(#895983, 15%);
@td-bg:                         lighten(#905c8a, 45%);
@td-bg-alt:                     lighten(@td-bg, 3%);

// input
@input-bg:                      #fff;
@input-border:                  darken(#895983, 15%);
@input-border-focus:            #c7336e;
@input-placeholder:             grayscale(#c7336e);

// .figure__bordered
@figure__bordered:              darken(#895983, 15%);


/* topdoc
  name: EOF
  eof: true
*/
@webfont-medium: Arial;
.webfont-medium() {
    font-family: @webfont-medium, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    .lt-ie9 & {
        font-weight: normal !important;
    }
}
.h4 {
    @font-size: 18px;

    margin-top: 0;
    // Spacing in the design manual is based off of the baseline so this margin
    // number has been eyeballed to be 30px.
    margin-bottom: unit( 21px / @font-size, em );
    font-size: unit( @font-size / @base-font-size-px, em );
    .webfont-medium();
    line-height: unit( @base-line-height-px / @font-size );
}

/* ==========================================================================
   Capital Framework
   Notification Styling
   ========================================================================== */


/* topdoc
  name: Theme variables
  family: cf-notifications
  notes:
    - "The following color and sizing variables are exposed, allowing you to
       easily override them before compiling."
  patterns:
  - name: Colors
    codenotes:
      - |
        @notification-default
        @notification-error
        @notification-warning
        @notification-success
  tags:
  - cf-notifications
  - less
*/

// Color Variables

// Default
@notification-default: #818181;
@notification_bg: lighten(@notification-default, 35%);
@notification_icon: @notification-default;

// Errors
@notification-error: #d21209;
@notification-error_bg: lighten(@notification-error, 35%);
@notification-error_icon: @notification-error;

// Warnings
@notification-warning: #ff9201;
@notification-warning_bg: lighten(@notification-warning, 35%);
@notification-warning_icon: @notification-warning;

// Success
@notification-success: #16a148;
@notification-success_bg: lighten(@notification-success, 35%);
@notification-success_icon: @notification-success;

//Sizing variables

@notification-padding__px: 11px;

/* topdoc
  name: Notifications
  family: cf-notifications
  notes:
    - "Markup and styling for notifications"
  patterns:
    - name: Default Notification
      codenotes:
        - .error
      markup: |
        <div class="cf-notification">
          <span class="cf-notification_icon cf-icon cf-icon-information-round"></span>
          <p class="cf-notification_text">This is the default notification.</p>
        </div>
    - name: Error Notification
      codenotes:
        - .error
      markup: |
        <div class="cf-notification cf-notification__error">
          <span class="cf-notification_icon cf-notification_icon__error cf-icon cf-icon-delete-round"></span>
          <p class="cf-notification_text">This is an error notification.</p>
        </div>
    - name: Warning Notification
      codenotes:
        - .warning
      markup: |
        <div class="cf-notification cf-notification__warning">
          <span class="cf-notification_icon cf-notification_icon__warning cf-icon cf-icon-error-round"></span>
          <p class="cf-notification_text">This is a warning notification.</p>
        </div>
    - name: Success Notification
      codenotes:
        - .success
      markup: |
        <div class="cf-notification cf-notification__success">
          <span class="cf-notification_icon cf-notification_icon__success cf-icon cf-icon-approved-round"></span>
          <p class="cf-notification_text">This is a success notification.</p>
        </div>
    - name: Dynamic Notification
      markup: |
        <div class="">
          <button class="btn">Default</button>
          <button class="btn">Error</button>
          <button class="btn">Warning</button>
          <button class="btn">Success</button>
        </div>
  tags:
    - cf-notifications
*/


.cf-notification {
    //display: none;
    position: relative;

    padding: @notification-padding__px;
    padding-left: 40px;
    margin-bottom: @notification-padding__px + 4px;

    background: @notification_bg;
    border: 1px solid @notification-default;

    &__error {
        background: @notification-error_bg;
        border-color: @notification-error;
    }

    &__warning {
        background: @notification-warning_bg;
        border-color: @notification-warning;
    }

    &__success {
        background: @notification-success_bg;
        border-color: @notification-success;
    }

    &_icon {
        position: absolute;
        top: @notification-padding__px + 2px;
        left: @notification-padding__px + 4px;

        color: @notification_icon;
        font-size: unit( 18px / 16px, em );

        &__error {
            color: @notification-error_icon;
        }

        &__warning {
            color: @notification-warning_icon;
        }

        &__success {
            color: @notification-success_icon;
        }
    }

    &_text {
        margin: 0;
        font-size: .9em;
    }
}

/* topdoc
  name: EOF
  eof: true
*/
