// Wrapper on explore page

#filters {

  .wrapper();
  margin-top: 40px;
  //.transparent();
  
  h2 {
    margin-top: 50px;
  }

  &.ready {
    //.opaque();
  }

  &.loading {
    //.translucent();
  }

}

// Top banner

.hero {

  h1 {
    .at2x( '', 770px, 17px );
  }

}

// Download and share sections

.download-and-share {

  //margin-top: 50px;

  .inner {
    background-color: #f4f3f2;
    padding: 15px;
  }

  label {

  }

  .widget {
    border-right: 0;
    input {
      width: 100%;
    }
  }

  .action {
    margin-top: 20px;
    text-align: right;
  }

}

.download,
.share {
  .column( 12 );
  border: 0;
}

@media only screen and ( min-width: 768px ) {

  .download-and-share {

    label {
      .column( 2, 6 );
      text-align: right;
    }

    .widget {
      .column( 4, 6 );
      border-right: 0;
    }

  }

  .download {
    .column( 6 );
    border-left: 0;
  }

  .share {
    .column( 6 );
    border-right: 0;
  }

}
