.homepage {

  .hero {
    
    padding-top: 10px;
    text-align: center;
    background-color: #FAB051;
    background-size: cover;

    &> .inner {
      .wrapper();
    }

    h1 {
      .avenir-next-bold;
      font-size: 30px;
      line-height: 1.3em;
      padding-bottom: 0 0 30px;
      padding-top: 32px;
      width: 100%;
      background: transparent url() scroll no-repeat top center;
      .at2x( '../img/hr_hero-top.png', 770px, 17px );
    }

    nav {
      font-family: @body-font;
    }

    .title {
      .avenir-next-bold;
      text-transform: uppercase;
    }

    // Nav underneath the main title

    ul {
      .mobile-nav();
    }

  }

  .circle-nav {
    display: none;
  }

}

.video {

  background-color: #E7E7E6;

  .background {
    .wrapper();
  }

  .inner {
    padding: 23px 0 10px;
    width: 82%;
    margin: 0 auto;
  }

  .launch {
    p {
      .avenir-next;
      margin-top: .5em;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .blurb {
    p {
      font-size: .95em;
      line-height: 1.4em;
      margin-top: 0;
    }
    a {
      .avenir-next-demi;
      font-size: 1.1em;
      i {
        font-size: 2em;
        line-height: .45em;
      }
    }
  }

  h2 {
    font-style: italic;
    font-family: @body-font;
    font-weight: normal;
    .at2x( '../img/icon_play.png', 63px, 63px );
    background-repeat: no-repeat;
    background-position: top right;
    -webkit-transition: background-image .4s ease-in-out;
    -moz-transition: background-image .4s ease-in-out;
    -o-transition: background-image .4s ease-in-out;
    -ms-transition: background-image .4s ease-in-out;
    transition: background-image .4s ease-in-out;
    max-width: 220px;
    &:hover {
      .at2x( '../img/icon_play-over.png', 63px, 63px );
    }
    strong {
      font-style: normal;
      display: block;
      .avenir-next-bold;
      font-size: 1.4em;
    }
  }
  
}

.map {

  #map {
    width: 100%;
    height: 400px;
  }

  .map-legends {
    width: 140px;
  }

  .legend-title {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
  }

  .legend-labels {
    margin: 0;
    padding: 0;
  }

  .legend-labels li {
    list-style-type: none;
    height: 20px;
  }

  .legend-labels li span {
    height: 20px;
    width: 30px;
    margin-right: 7px;
    display: inline-block;
  }

  .legend-source {
    margin-top: 10px;
  }
  
}

.charts {

  //.row();
  text-align: center;
  
}

// Browse section with grid background and chart divider

.browse {

  //.row();
  background: @white url(../img/bg_grid.png) scroll repeat left top;
  text-align: center;

  h2 {
    padding-top: 200px;
    background: transparent url(../img/hr_line-graph.png) scroll repeat-x center top;
  }

  .explore {
    max-width: 770px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid @light_field;
    text-align: left;
  }

  hr {
    padding-bottom: 200px;
    clear: both;
    border: 0;
    background: transparent url(../img/hr_line-graph-rev.png) scroll repeat-x center top;
  }

}

.download {
  background: @white
}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  .homepage {

    .hero {
      min-height: 403px;
      padding-top: 45px;
      h1 {
        font-size: 47px;
      }
      nav {
        width: 82%;
        margin: 0 auto;
        margin-top: 25px;
        .clearfix();
        li {
          width: 33%;
          float: left;
          .clearfix();
        }
        a {
          background-color: transparent;
          text-transform: none;
          width: 160px;
          &.data {
            margin: 0 auto;
            .inner {
              padding-left: 9%;
              padding-right: 9%;
            }
          }
          &.developers {
            .clearfix();
            float: right;
            width: 150px;
            .circle-nav {
              float: right;
            }
          }
          &:hover {
            background-color: transparent;
          }
          &.facts-and-figures {
            .inner span {
              padding: 50px 13%;
            }
          }
          &.data {
            .inner span {
              padding: 45px 0 40px;
            }
          }
        }
      }
    }

    .circle-nav {
      display: block;
      margin-bottom: 10px;
      width: 150px;
      height: 150px;
      overflow: hidden;
      position: relative;
      background-color: #fbcd96;
      .mask {
        border: 35px solid #FAB051;
        position: absolute;
        top: -35px;
        left: -35px;
        -webkit-border-radius: 250px;
        -moz-border-radius: 250px;
        border-radius: 250px;
        display: block;
        width: 220px;
        height: 220px;
        z-index: 1;
      }
      .inner {
        position: absolute;
        top: 32px;
        -webkit-transition: top .2s ease-in;
        -moz-transition: top .2s ease-in;
        -o-transition: top .2s ease-in;
        -ms-transition: top .2s ease-in;
        transition: top .2s ease-in;
        img {
          width: 81px;
          height: 93px;
          margin-left: -3px;
          .zoom-out();
        }
        
      }
      &:hover {
        .inner {
          top: -85px;
        }
        img {
          .zoom-in();
        }
      }
      span {
        display: block;
        padding: 45px 13% 40px;
        text-align: center;
        font-size: .75em;
        .at2x( '../img/icon_arrow_down.png', 32px, 20px );
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }

    .video {

      .launch,
      .blurb {
        width: 49.5%;
        display: inline-block;
      }
      
    }

  }

}
