// Mobile first!

.learn-more {
  .hero {
    h1 {
      padding-bottom: 5px;
      background: transparent url() scroll no-repeat left center;
      .at2x( '../img/icon_learn-more.png', 42px, 42px );
    }
  }
  h2 {
    margin-top: 40px;
    padding-bottom: 5px;
    .avenir-next-demi;
    font-size: 1.5em;
  }
}


#learn-more {

  p {
    display: inline-block;
    margin-right: 4%;
    font-size: 1em;
    line-height: 1.375em;
  }

  .links {
    display: inline-block;
    vertical-align: top;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0 0 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  #highlights {
    margin-top: 80px;
  }

  .highlight {
    background-color: @light_field10;
    padding: 15px 20px;
    width: 66%;
    line-height: 1.375em;
  }

  #video-transcript {
    margin-top: 40px;
  }
  
  .filter {
    background-color: @white;
    border-bottom: 0px;
    padding: 0
  }
    
  .filter h3 {
    padding:0;
  }

}
  


// Adjustments for larger screens

@media only screen and ( min-width: 768px ) {

  #learn-more {

  .title {padding:0;}
  .highlight {
      background-color: @light_field10;
      padding: 15px 20px;
      width: 66%;
      line-height: 1.375em;
      margin-bottom: 10px;
    }


  p {
    width: 66%;
    display: inline-block;
    margin-right: 4%;
    font-size: 1em;
    line-height: 1.375em;
    float: left;
    margin-bottom: .2em;
    }

  .links {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      }
  }


}
