// Mobile first!

#summary {
  position: relative;
  .intro {
    border-bottom: 1px solid @light_field;
    background-color: @light_field20;
    padding: 10px 15px 20px 20px;
    font-family: "Avenir Next", Arial, sans-serif;
  }
  .spinning {
    display: none;
  }
  
  #summary-loading {
      background-color: @white;
      color: @black;
      text-align: center;
      padding: 15px;
      display: none;
  }
  
  &.loading {
    #summary-loading {
      display: block;
    }
  }
  #share {
    label {
      border: 0;
      width: 100%;
    }
  }
}

.instructions {
  padding: 30px 15px 15px;
  background-color: @light_field10;
  font-size: 1em;
  line-height: 1.375em;
}

.submit-btn {
  margin-top: 20px;
  display: block;
  bottom: .5em;
  padding: 0.75em 1em;
}

.drop-downs {
  background-color: @light_field10;
  > div {
    padding: 15px;
  }
}

#summary-table-form {

  label {
    font-family: 'Avenir Next Demi', Arial, sans-serif;
  }

  li:hover,
  li:focus,
  .result-selected {
    background-color: @pacific20;
    color: @black;
  }

  .variable.with-reset-link {
    position: relative;
  }

  .icon {
    margin-right: 5px;
  }

  .calculate {
    li {
      color: @dark_field;
    }

    .placeholder {
      border-top: 1px solid @light_field;
      margin-top: 10px;
      padding-top: 10px;
      text-transform: uppercase;
    }

    .indent {
      padding-left: 15px;
    }

    li.placeholder:hover,
    li.placeholder:focus {
      background-color: #fff;
      color: @dark_field;
      cursor: default;
    }

  }

  .chzn-container .chzn-drop,
  .chzn-container-active .chzn-single {
    border-color: #0072ce;
  }

  .reset-field {
    text-align: right;
    display: block;
    margin-top: 4px;
    font-size: .8em;
    font-family: 'Avenir Next Demi', Arial, sans-serif;
  }

}

#summary-table-container {
  font-family: "Avenir Next", Arial, sans-serif;
  background-color: @light_field10;
  padding: 40px 15px 20px 15px;

  #summary-table {
    width: 100%;

    tr.header td {
      background-color: @gold20;
      .avenir-next-demi;
    }

    td {
      background-color: white;
      font-size: .8em;
      padding: 5px 10px;
      border: 1px solid @light_field;
      width: 25%;
    }

  }
}

#download-summary {
  &.disabled {
    .translucent();
    font-style: italic;
  }
}

// Adjustments for larger screens

@media only screen and ( min-width: 768px ) {

  #summary-table-form {

    .intro {
      .column( 12 );
    }

    .variable,
    .calculate {
      .column( 2 );
      display: table-cell;

      label.stretchy {
        position: absolute;
        margin-top: -30px;
      }

    }

    .drop-downs {
      display: table-row;
      position: relative;
      > div {
        padding: 0;
      }
    }

  }

  .modify-filters {
    float: right;
    line-height: 1em;
  }

  .instructions {
    .column( 12 );
    padding-left: 0;
    padding-right: 0;
  }

  .submit-btn {
    margin-top: 0;
    float: right; 
    position: relative;
  }

}
