// Global fixes

.hmda header .logo {
  a {
    background-image: url(../img/logo_mobile.png);
  }
}

#preview {

  overflow: auto;

  tbody {
    overflow: auto;
  }

}

@media only screen and ( min-width: 768px ) {

  // Global fixes

  .hmda header .logo {
    a {
      background-image: none;
    }
  }

  // Homepage fixes

  .homepage {
    .hero {
      background: #FAB051 url('../img/ie8_orange-bg.gif') repeat scroll top left;
      h1 {
        font-size: 52px;
        background-image: url('../img/hr_hero-top.png');
        background-size: 770px 17px;
      }
      nav a.facts-and-figures {
        width: 170px;
      }
    }
    .circle-nav {
      background: transparent url('../img/ie8_orange-circle.gif') no-repeat scroll top left;
      span {
        background-image: url('../img/icon_goldcaret.png');
      }
    }
    .title {
      font-size: .95em;
    }
    #facts-and-figures h2 {
      background-image: url("../img/icon_dataviz.png");
    }
    #get-the-data h2 {
      background-image: url("../img/icon_getdata.png");
    }
    #developers h2 {
      background-image: url("../img/icon_devs.png");
    }
  }

}
