.hmda header .logo a {
  background-image: url(../img/logo_mobile.png);
}
#preview {
  overflow: auto;
}
#preview tbody {
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  .hmda header .logo a {
    background-image: none;
  }
  .homepage .hero {
    background: #fab051 url('../img/ie8_orange-bg.gif') repeat scroll top left;
  }
  .homepage .hero h1 {
    font-size: 52px;
    background-image: url('../img/hr_hero-top.png');
    background-size: 770px 17px;
  }
  .homepage .hero nav a.facts-and-figures {
    width: 170px;
  }
  .homepage .circle-nav {
    background: transparent url('../img/ie8_orange-circle.gif') no-repeat scroll top left;
  }
  .homepage .circle-nav span {
    background-image: url('../img/icon_goldcaret.png');
  }
  .homepage .title {
    font-size: .95em;
  }
  .homepage #facts-and-figures h2 {
    background-image: url("../img/icon_dataviz.png");
  }
  .homepage #get-the-data h2 {
    background-image: url("../img/icon_getdata.png");
  }
  .homepage #developers h2 {
    background-image: url("../img/icon_devs.png");
  }
}
