.charts {
	font-family: 'Avenir Next';
	font-weight: 400;
	margin-top: 1em;

	h3 {
		font-family: 'Avenir Next Demi';
		font-weight: 600;
		font-size: 1.3em;
	}

	.chart-info {
		.column(5);
	}

	.chart-content {
		.column(7);
	}


	.chart-label {
		font-family: 'Avenir Next Demi';
		font-weight: 600;
		font-size: 0.8em;
	}

	select {
		margin-bottom: 1em;
	}

	.toggle-series-heading {
		.column(6);
	}

	.toggle-series-controls {
		.column(6);
	}

	.chart-container {
		width: 540px;
	}

	.chart-legend {
		width: 540px;
	}
	.chart-legend th, td {
		text-align: left;
		width: 180px;
		padding-right: 10px;
		white-space: nowrap;
	}

	.chart-legend-oblt {
		margin-left: 90px;
	}

	.chart-legend-box {
		display: inline-block;
		width: 40px;
		height: 10px;
		margin-right: 5px;
	}

	.chart-legend-box-hpa {
		background-color: @green_midtone;
	}
	.chart-legend-box-hpo {
		background-color: @green;
	}
	.chart-legend-box-hia {
		background-color: @teal50;
	}
	.chart-legend-box-hio {
		background-color: @teal;
	}
	.chart-legend-box-ra {
		background-color: @light_neutral;
	}
	.chart-legend-box-ro {
		background-color: @dark_neutral;
	}

}
