.charts {
	.avenir-next;
	margin-top: 2em;
	margin-bottom: 2em;

	h3 {
		.avenir-next-demi;
		font-size: 1.4em;
	}

	.chart-info {
		.column(5);
	}

	.chart-content {
		.column(7);
	}

	.chart-label {
		.avenir-next-demi;
		font-size: 0.8em;
	}

	.toggle-series-heading {
		margin-top: 1em;
		border-left-width: 0;
		.column(5);
	}

	.toggle-series-controls {
		margin-top: 1em;
		.column(7);
	}

	.chart-note {
		font-family: 'Avenir Next Italic';
	    font-weight: 400;
	    font-style: italic;		
		font-size: 0.8em;
	}

	.chart-container {
		width: 540px;
	}

	.chart-legend {
		width: 540px;
	}
	.chart-legend th, td {
		text-align: left;
		width: 180px;
		padding-right: 10px;
		white-space: nowrap;
	}

	.chart-legend-oblt {
		margin-left: 90px;
	}

	.chart-legend-box {
		display: inline-block;
		width: 40px;
		height: 10px;
		margin-right: 5px;
	}

	.chart-legend-box-hpa {
		background-color: @green_midtone;
	}
	.chart-legend-box-hpo {
		background-color: @green;
	}
	.chart-legend-box-hia {
		background-color: @teal50;
	}
	.chart-legend-box-hio {
		background-color: @teal;
	}
	.chart-legend-box-ra {
		background-color: @light_neutral;
	}
	.chart-legend-box-ro {
		background-color: @dark_neutral;
	}

}
