// Wrapper on explore page

#filters {

  .wrapper();
  //.transparent();

  &.ready {
    //.opaque();
  }

  &.loading {
    //.translucent();
  }

}

// Each block of fields is a .filter (Location, Lender, Borrower, etc.)

.filter {

  .column( 12 );
  background-color: #f4f3f2;

  &:nth-child( odd ) {
    background-color: @light_field50;
  }

  .title {
    margin: 30px 0;
  }
  
  h3 {
    text-transform: uppercase;
  }

  .desc {

  }

  // The fields are displayed in an unordered list

  ul.fields {
    padding: 0;
    display: none;
  }

  // Fields are the individual filters

  li.field {
    
    list-style-type: none;
    margin-bottom: 1em;

    &> label {
      .column( 3 );
      .avenir-next-demi;
      text-align: right;
    }
  }

  .widget {
    .column( 8 );
    label {
      display: block;
      //margin-bottom: 10px;
      padding-left: 23px;
      text-indent: -25px;
    }
    input[type=checkbox],
    input[type=radio] {
        width: 25px;
        height: 16px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
  }

  select {
    width: 100%;
  }

  .help {
    .column( 1 );
  }

}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  .filter {

    .column( 10 );
    .push( 1 );

    .intro {
      .column( 8, 10 );
    }
    
    h3 {
      .column( 3, 10 );
    }

    .desc {
      .column( 7, 10 );
    }

    li.field {

      &> label {
        .column( 3, 10 );
      }
    }

    .widget {
      .column( 4, 10 );
    }

  }

}
