// Each block of fields is a .filter (Location, Lender, Borrower, etc.)

.filter {

  .column( 12 );
  background-color: #f4f3f2;
  border-bottom: 1px solid @light_field;

  &:nth-child( even ) {
    background-color: @light_field50;
  }

  .title {
    padding: 30px 0;
    &:hover {
      cursor: pointer;
    }
  }
  
  h3 {
    text-transform: uppercase;
    color: @pacific;
    display: inline-block;
    padding-left: 15px;

    i {
      padding-right: 10px;
    }

  }

  // Show a plus icon when the filter is closed.

  &.closed {
    i.icon-minus-alt:before {
      content: "\e0109";
    }
  }

  &.footer {
    .clear {
      
    }
    .insight {
      float: right;
    }
  }

  // The fields are displayed in an unordered list

  .fields {
    padding: 0;
    animation: fadein .5s;
    -moz-animation: fadein .5s;
    -webkit-animation: fadein .5s;
    -o-animation: fadein .5s;
  }

  // Closed fields should be hidden

  &.closed {
    .fields,
    .control {
      display: none;
    }
  }

  // Fields are the individual filters

  .field {
    
    list-style-type: none;
    margin-bottom: 1em;

    &> label {
      width: 100%;
      margin: 0 15px;
      display: inline-block;
      vertical-align: top;
      .avenir-next-demi;
    }

  }

  .widget {
    width: 85%;
    margin: 0 15px;
    display: inline-block;
    label {
      display: block;
      //margin-bottom: 10px;
      padding-left: 23px;
      text-indent: -25px;
    }
    input[type=checkbox],
    input[type=radio] {
        width: 25px;
        height: 16px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
  }

  &.location {
    .spinning {
      height: 30px;
      top: auto;
      bottom: 0;
    }
  }

  .location-set {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    &:last-child {
      border: 0;
    }
  }

  li.location-separator {
    .avenir-next-demi;
    font-style: italic;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .loan_amount_000s,
  .applicant_income_000s {
    input {
      width: 70px;
    }
  }

  // Some controls

  .control {
    margin: 0 0 30px 53px;
    display: block;
    .avenir-next-demi;
    animation: fadein .8s;
    -moz-animation: fadein .8s;
    -webkit-animation: fadein .8s;
    -o-animation: fadein .8s;
  }

  .next-steps {
    padding: 30px 0;
  }

  select {
    width: 100%;
  }

  .help {
    position: absolute;
    font-size: 1.3em;
    display: inline-block;
    color: @pacific;
    vertical-align: top;
    height: 24px;
    width: 24px;
    i {
      height: 24px;
      width: 24px;
      display: block;
    }
  }

}

// Disabled fields

.field.disabled {
  color: @light_field;
  font-style: italic;
  label,
  input {
    font-style: italic !important;
  }
}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  .filter {

    .intro {
      .column( 9 );
    }

    .desc {
      display: inline-block;
      font-size: 1.2em;
      margin-left: 20px;
    }

    .widget {
      width: 35%;
    }

    .field {
      &> label {
        width: 25%;
        text-align: right;
      }
    }

    .field.applicant_sex,
    .field.co_applicant_sex {
      .widget {
        width: 47%;
      }
    }

    // The location section has totally different formatting

    &.location {

      li.field {
        margin-bottom: .25em;
        position: relative;
        &> label {
          padding-bottom: .25em;
        }
      }

      li.location-separator {
        display: inline-block;
        margin: 0 20px;
      }

      li.field.state_code,
      li.field.county_code,
      li.field.census_tract_number {
        width: 25%;
        display: inline-block;
        &> label {
          width: 100%;
          margin: 0;
          text-align: left;
        }
        .widget {
          width: 100%;
          margin: 0;
        }
      }

      li.field.county_code,
      li.field.census_tract_number {
        display: block;
      }

      li.field.msamd {
        width: 40%;
        display: inline-block;
        &> label {
          width: 100%;
          margin: 0;
          text-align: left;
        }
        .widget {
          width: 80%;
          margin: 0 10px 0 0;
        }
      }

    }

    .help {
      position: static;
    }

  }

  .widget {
    width: 55%;
    &.inline {
      label {
        display: inline-block;
        margin-right: 19px;
        &:last-child {
          margin-right: 0
        }
      }
      input[type=checkbox] {
        //width: 20px;
      }
    }
  }

  .location-set {
    margin-left: 53px;
  }

}
