// Big orange hero on the HMDA homepage

.hero {
  
  padding-top: 33px;
  text-align: center;
  background-color: #FAB051;
  background-size: cover;

  &> .inner {
    .wrapper();
  }

  h1 {
    .avenir-next-bold;
    font-size: 30px;
    line-height: 1.3em;
    padding-bottom: 0 0 30px;

    &:before {
      content: " ";
      display: block;
      width: 100%;
      height: 40px;
      background: transparent url() scroll no-repeat top center;
      .at2x( '../img/hr_hero-top.png', 770px, 17px );
    }

  }

  nav {
    font-family: @body-font;
    div {
      display: none;
    }
  }

  h2 {
    .avenir-next-demi;
  }

  // Nav underneath the main title

  ul {
    .mobile-nav();
  }

}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  .hero {
    min-height: 300px;
    h1 {
      font-size: 49.5px;
      padding: 0;
    }
    nav {
      width: 82%;
      margin: 0 auto;
      margin-top: 25px;
      .clearfix();
      li {
        width: 33%;
        float: left;
        .clearfix();
      }
      a {
        background-color: transparent;
        text-transform: none;
        width: 160px;
        &.data {
          margin: 0 auto;
          .inner {
            padding-left: 9%;
            padding-right: 9%;
          }
        }
        &.developers {
          .clearfix();
          float: right;
        }
        &:hover {
          background-color: transparent;
        }
      }
      div {
        display: block;
        width: 160px;
        height: 160px;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        border-radius: 80px;
        background: #fbcd96;
      }
      .inner {
        display: block;
        padding: 30% 13% 0;
        text-align: center;
        font-size: .75em;
      }

    }
  }

}
