// Each block of fields is a .filter (Location, Lender, Borrower, etc.)

.preview {

  .column( 12 );
  background-color: @light_field10;
  padding: 10px 15px 20px 15px;

  #preview {

    overflow-x: scroll;
    position: relative;
    margin-top: 10px;
    height: 450px;

    table.tidy_table {
      table-layout: fixed;
      position: relative;
      border: none;
    }

    tbody {
      display: block;
      height: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    tr {
      max-height: 40px;
    }

    th,
    td {
      width: 150px;
      height: 30px;
      max-height: 35px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    th {
      background-color: @gold20;
      .avenir-next-demi;
      border-right: 1px solid @light_field;
    }

    td {
      background-color: white;
      font-size: .8em;
      border-right: 1px solid @light_field;
    }

    .spinning {
      display: none;
      height: 100%;
    }

    &.loading {
      overflow: hidden;
      .spinning {
        display: block;
      }
      .tidy_table {
        opacity: .5;
      }
    }

  }

  .title {
    &.disabled {
      h3 {
        .opacity( .5 );
        font-style: italic;
      }
    }
  }

  h3 {
    color: @pacific;
    display: inline-block;
    .avenir-next-demi;
    font-size: 1.1em;
    letter-spacing: 0;

    i {
      padding-right: 10px;
      font-size: .9em;
    }
  }

  &.closed {
    i.cf-icon-minus-round:before {
      content: "\e109";
    }
  }

}

// Natural language widget

.nlw {
  position: relative;
}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  .preview {



  }

}

// Some temporary error handling

.ajax-error {
  background-color: #f99;
  padding: 2px 10px;
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
