/* ==========================================================================
   CFPB Boilerplate
   Master LESS File
   ========================================================================== */

@import "js/vendor/ghost/dist/ghost.less";
@import "less/color.less";
@import "less/fonts.less";
@import "less/typo.less";
@import "less/utils.less";

// Override some grid variables

@wrapper-width: 960px;

// General housekeeping

body, html {
  margin: 0;
  font-family: "Avenir Next", Arial, sans-serif;
}

// PDP GO

header,
.explorer,
footer {
  .wrapper();
  
}

.hero {
  min-height: 100px;
  text-align: center;
  background: @gold url() scroll no-repeat top center;
}

// Footer at the bottom of the page

footer {
  .row();
  .primary {
    .span(8);
  }
  .social {
    .span(4);
  }
}
