// Normalize

@import (less) "js/vendor/normalize-css/normalize.css";

// Grid

@import "js/vendor/ghost/dist/ghost.less";

// Ghost grid settings

@wrapper-width: 960px;

// Variables / Mixins

@import "less/color.less";
@import "less/fonts.less";
@import "less/typo.less";
@import "less/utils.less";
@import "less/mixins.less";

// Modules

@import "less/modules/homepage.less";
@import "less/modules/hmda-hero.less";

// General housekeeping

body, html {
  margin: 0;
  font-family: @body-font;
  background: @white;
}

nav ul {
  padding-left: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

// Links

.hmda .continue {
  display: block;
  text-align: center;
  text-transform: uppercase;
  .avenir-next-bold;
}

// There's no global wrapper because sections of the page need 
// to bleed to the edge of the screen.

.hmda {

  header,
  footer {
    .wrapper();
  }

}

// Footer at the bottom of the page

footer {
  .row();
  .primary,
  .social {
    .column(12);
  }
}

// Viewport adjustments

@media only screen and ( min-width: 768px ) {

  footer {
    .primary {
      .column(8);
    }
    .social {
      .column(4);
    }
  }

}
