<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>The Home Mortgage Disclosure Act</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <script src="static/js/jquery.min.js"></script>
  <link rel="stylesheet" href="static/css/main.min.css">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="static/css/icons-ie7.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="static/js/ie8.min.js"></script>
    <link rel="stylesheet" href="static/css/ie8.min.css">
    <script src="static/js/respond.min.js"></script>
  <![endif]-->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KMMLRS');</script>
  <!-- End Google Tag Manager -->

  <script>
    var docElement = document.documentElement;
    docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<!--[if lt IE 7]>      <body class="lt-ie9 lt-ie8 lt-ie7 hmda explore"> <![endif]-->
<!--[if IE 7]>         <body class="lt-ie9 lt-ie8 hmda explore"> <![endif]-->
<!--[if IE 8]>         <body class="lt-ie9 hmda explore"> <![endif]-->
<!--[if IE 9]>         <body class="lt-ie10 hmda explore"> <![endif]-->
<!--[if gt IE 9]><!--><body class="hmda explore"><!--<![endif]-->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="top-banner">
    <div class="inner">
      <p class="return-cfgov">Return to <a href="https://www.consumerfinance.gov/hmda">consumerfinance.gov/hmda</a></p>
      <p class="official-website">An official website of the United States Government<img src="static/img/icon_usflag.png" width="16" height="11" alt="US Flag" /></p>
    </div>
  </div>

  <div class="hero" role="main">

    <div class="inner">

      <h1>Explore the data</h1>

      <nav role="navigation" aria-label="Explore HMDA Menu">
        <ul>
          <li><a href="#filters" class="section-toggle">Custom Datasets</a></li>
          <li><a href="#summary" class="section-toggle">Summary Tables</a></li>
        </ul>
      </nav>

    </div>

  </div>

  <noscript>
    <div class="js-disabled">
      <div class="msg javascript-warning">
        <%= explore_javascript_warning %>
      </div>
      <img src="static/img/bg_no-js-screenshot.jpg" alt="JavaScript is required to use this application">
    </div>
  </noscript>

  <!-- filters -->

  <div id="filters" class="app-section">

    <form id="explore" action="" method="get">

      <!-- all filters section -->

      <div class="cf-error" id="msa-note">
        <span class="cf-icon cf-icon-error-round highlight"></span>
        <p class="message">This tool will sunset in the coming months.</p>
        <p><a href="https://www.consumerfinance.gov/data-research/hmda-api-retirement/">Learn more about what to expect</a></p>
      </div>

      <h2>Filter the data</h2>

      <div id="all">

        <!-- filter section -->

        <div class="filter year" id="year">

          <ul class="fields">

            <!-- filter field -->
            <li class="field as_of_year">
              <label for="as_of_year">Select year(s) of data:</label>
              <div class="widget select">
                <select class="param" name="as_of_year" id="as_of_year" multiple data-placeholder="Select one or more years">
                  <option value="2017" selected>2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                </select>
              </div>

              <div class="cf-error missing-2014-warning hidden">
                <span class="cf-icon cf-icon-error-round highlight"></span>
                <p class="message">Additional Data</p>
                <p class="action"><%= missing_2014_warning %></p>
              </div>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field suggested ignore">
              <label for="suggested">Select suggested filters:</label>
              <div class="widget select">
                <select name="suggested" id="suggested" data-placeholder="Select a filter set">
                  <option value="default"></option>
                  <option value="common">Mortgages for first-lien, owner-occupied, 1-4 family homes (including manufactured housing)</option>
                  <option value="originations">All originated mortgages</option>
                  <option value="all">All records</option>
                  <option value="custom" class="custom"></option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_suggested_filters %></span>
            </li>
            <!-- /filter field -->

          </ul>

          <div class="intro">

            <%= explore_intro_text %>

          </div>

        </div>

        <!-- /filter section -->

        <!-- filter section -->

        <div class="filter location closed" id="location">

          <div class="title">

            <a href="#location"><h3><i class="cf-icon cf-icon-minus-round"></i> Location</h3></a>

            <div class="desc">State, metro area, county, and census tract of the property</div>

          </div>

          <div id="location-sets"></div>

          <a href="#" id="add-state" class="control">+ Add another state or metro area</a>

        </div>

        <!-- /filter section -->

        <!-- filter section -->

        <div class="filter property closed" id="property">

          <div class="title">

            <a href="#property"><h3><i class="cf-icon cf-icon-minus-round"></i> Property</h3></a>

            <div class="desc">Property type and occupancy</div>

          </div>

          <ul class="fields">

            <!-- filter field -->
            <li class="field popular">
              <label for="property_type">Property Type:</label>
              <div class="widget checkbox">
                <label><input type="checkbox" class="param" name="property_type[]" value="1" id="foo"/>One-to-four family dwelling<br><label class="helper-text"> (other than manufactured housing)</label></label>
                <label><input type="checkbox" class="param" name="property_type[]" value="2" />Manufactured housing</label>
                <label><input type="checkbox" class="param" name="property_type[]" value="3" />Multifamily dwelling</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_property_type %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field popular">
              <label for="owner_occupancy">Will the owner use the property<br> as their primary residence?</label>
              <div class="widget checkbox">
                <label><input type="checkbox" class="param" name="owner_occupancy[]" value="1" />Owner-occupied as a principal dwelling</label>
                <label><input type="checkbox" class="param" name="owner_occupancy[]" value="2" />Not owner-occupied as a principal dwelling</label>
                <label><input type="checkbox" class="param" name="owner_occupancy[]" value="3" />Not applicable</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_owner_occupancy %></span>
            </li>
            <!-- /filter field -->

          </ul>

        </div>

        <!-- /filter section -->

        <!-- filter section -->

        <div class="filter description closed" id="description">

          <div class="title">

            <a href="#description"><h3><i class="cf-icon cf-icon-minus-round"></i> Loan</h3></a>

            <div class="desc">Loan action, purpose, type, and more</div>

          </div>

          <ul class="fields">

            <!-- filter field -->
            <li class="field popular">
              <label for="action_taken">What action was taken<br> on the loan or application?</label>
              <div class="widget select">
                <select class="param" name="action_taken" id="action_taken" multiple data-placeholder="Select an action">
                  <option value="1">Loan originated</option>
                  <option value="2">Application approved but not accepted</option>
                  <option value="3">Application denied by financial institution</option>
                  <option value="4">Application withdrawn by applicant</option>
                  <option value="5">File closed for incompleteness</option>
                  <option value="6">Loan purchased by the institution</option>
                  <option value="7">Preapproval request denied by financial institution</option>
                  <option value="8">Preapproval request approved but not accepted</option>
                </select>
              </div>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field">
              <label for="loan_purpose">What is the loan being used for?</label>
              <div class="widget checkbox">
                <label><input type="checkbox" class="param" name="loan_purpose[]" value="1" />Home purchase</label>
                <label><input type="checkbox" class="param" name="loan_purpose[]" value="2" />Home improvement</label>
                <label><input type="checkbox" class="param" name="loan_purpose[]" value="3" />Refinancing</label>
              </div>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field">
              <label for="loan_type">What type of loan is it?</label>
              <div class="widget checkbox">
                <label><input type="checkbox" class="param" name="loan_type[]" value="1" />Conventional</label>
                <label><input type="checkbox" class="param" name="loan_type[]" value="2" />FHA-insured</label>
                <label><input type="checkbox" class="param" name="loan_type[]" value="3" />VA-guaranteed</label>
                <label><input type="checkbox" class="param" name="loan_type[]" value="4" />FSA/RHS-guaranteed</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_loan_type %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field popular">
              <label for="lien_status">What is the loan's lien status?</label>
              <div class="widget checkbox">
                <label><input type="checkbox" class="param" name="lien_status[]" value="1" />Secured by a first lien</label>
                <label><input type="checkbox" class="param" name="lien_status[]" value="2" />Secured by a subordinate lien</label>
                <label><input type="checkbox" class="param" name="lien_status[]" value="3" />Not secured by a lien</label>
                <label><input type="checkbox" class="param" name="lien_status[]" value="4" />Not applicable (purchased loans)</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_lien_status %></span>

            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field rate_spread">
              <label for="rate_spread">Is it a higher-priced loan?</label>
              <div class="widget radio inline rate_spread">
                <label><input type="radio" class="param" name="rate_spread" data-comparator="!=" value="null" />Yes</label>
                <label><input type="radio" class="param" name="rate_spread" data-comparator="=" value="null" />No</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_rate_spread %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional-toggle" data-optional="loan_optional">
              <label for="include_loan_optional">Show additional filters?</label>
              <div class="widget radio inline include_loan_optional">
                <label><input type="radio" name="include_loan_optional" value="1" />Yes</label>
                <label><input type="radio" name="include_loan_optional" value="0" checked />No</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_include_hoepa_loan %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional loan_optional loan_amount_000s hidden" data-optional="loan_optional">
              <label for="loan_amount_000s">How much is the loan for?</label>
              <div class="widget range check-range">
                <span>$</span><input type="text" class="param require-numeric min-value" name="loan_amount_000s-min" data-comparator=">=" value="" placeholder="Min."><span class="thousands">,000 &nbsp; to &nbsp;</span>
                <span>$</span><input type="text" class="param require-numeric max-value" name="loan_amount_000s-max" data-comparator="<=" value="" placeholder="Max."><span class="thousands">,000</span>
              </div>

            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional loan_optional hidden" data-optional="loan_optional">
              <label for="hoepa_status">Is it a HOEPA loan?</label>
              <div class="widget checkbox inline">
                <label><input type="checkbox" class="param" name="hoepa_status[]" value="1" />Yes</label>
                <label><input type="checkbox" class="param" name="hoepa_status[]" value="2" />No</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_hoepa_status %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional loan_optional hmda_reporting hidden" data-optional="loan_optional">
              <label for="preapproval">Did the applicant request <br>pre-approval?</label>
              <div class="widget checkbox inline">
                <label><input type="checkbox" class="param" name="preapproval[]" value="1" />Yes</label>
                <label><input type="checkbox" class="param" name="preapproval[]" value="2" />No</label>
                <label><input type="checkbox" class="param" name="preapproval[]" value="3" />Not applicable</label>
              </div>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional hmda_reporting loan_optional hidden" data-optional="loan_optional">
              <label for="denial_reason_1">If the loan or application was denied, did the lender<br> report a reason?</label>
              <div class="widget select">
                <select class="param" name="denial_reason_1" id="denial_reason_1" data-placeholder="Select a denial reason">
                  <option value></option>
                  <option value="1">Debt-to-income ratio</option>
                  <option value="2">Employment history</option>
                  <option value="3">Credit history</option>
                  <option value="4">Collateral</option>
                  <option value="5">Insufficient cash (downpayment, closing costs)</option>
                  <option value="6">Unverifiable information</option>
                  <option value="7">Credit application incomplete</option>
                  <option value="8">Mortgage insurance denied</option>
                  <option value="9">Other</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_denial_reason_1 %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional hmda_reporting loan_optional hidden" data-optional="loan_optional">
              <label for="purchaser_type">If this loan was sold on the secondary market,<br> who purchased it?</label>
              <div class="widget select">
                <select class="param" name="purchaser_type" id="purchaser_type" multiple data-placeholder="Select a purchaser type">
                  <option value="0">Loan was not originated or was not sold in calendar year covered by register</option>
                  <option value="1">Fannie Mae (FNMA)</option>
                  <option value="2">Ginnie Mae (GNMA)</option>
                  <option value="3">Freddie Mac (FHLMC)</option>
                  <option value="4">Farmer Mac (FAMC)</option>
                  <option value="5">Private securitization</option>
                  <option value="6">Commercial bank, savings bank or savings association</option>
                  <option value="7">Life insurance company, credit union, mortgage bank, or finance company</option>
                  <option value="8">Affiliate institution</option>
                  <option value="9">Other type of purchaser</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_purchaser_type %></span>
            </li>
            <!-- /filter field -->

          </ul>

        </div>

        <!-- /filter section -->

        <!-- filter section -->

        <div class="filter lender closed" id="lender">

          <div class="title">

            <a href="#lender"><h3><i class="cf-icon cf-icon-minus-round"></i> Lender</h3></a>

            <div class="desc">Lender ID and federal agency</div>

          </div>

          <ul class="fields">

            <!-- filter field -->
            <li class="field">
              <label for="respondent_id">Lender ID:</label>
              <div class="widget range">
                <input type="text" class="param require-numeric" name="respondent_id" value="" maxlength="10" placeholder="Enter a lender ID">
                <p class="ffiec-lookup">Don't know a lender's ID?<br>Use the <a href="http://www.ffiec.gov/hmdaadwebreport/DisWelcome.aspx" target="_blank" rel="noopener noreferrer" class="dont-redirect">FFIEC's disclosure tool</a> to look it up.</p>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_respondent_id %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field">
              <label for="agency_code">Federal agency:</label>
              <div class="widget select">
                <select class="param" name="agency_code" id="agency_code" multiple data-placeholder="Select an agency">
                  <option value="1">Office of the Comptroller of the Currency (OCC)</option>
                  <option value="2">Federal Reserve System (FRS)</option>
                  <option value="3">Federal Deposit Insurance Corporation (FDIC)</option>
                  <option value="4">Office of Thrift Supervision (OTS)</option>
                  <option value="5">National Credit Union Administration (NCUA)</option>
                  <option value="7">Department of Housing and Urban Development (HUD)</option>
                  <option value="9">Consumer Financial Protection Bureau (CFPB)</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_agency_code %></span>
            </li>
            <!-- /filter field -->


          </ul>

        </div>

        <!-- /filter section -->

        <!-- filter section -->

        <div class="filter borrower closed" id="borrower">

          <div class="title">

            <a href="#borrower"> <h3><i class="cf-icon cf-icon-minus-round"></i> Applicant</h3></a>

            <div class="desc">Demographic information for applicants and co-applicants</div>

          </div>

          <ul class="fields">

            <!-- filter field -->
            <li class="field">
              <label for="applicant_sex">Applicant Sex:</label>
              <div class="widget checkbox checkbox-inline">
                <label><input type="checkbox" class="param" name="applicant_sex[]" value="1" />Male</label>
                <label><input type="checkbox" class="param" name="applicant_sex[]" value="2" />Female</label>
                <label><input type="checkbox" class="param" name="applicant_sex[]" value="3" />Not provided</label>
                <label><input type="checkbox" class="param" name="applicant_sex[]" value="4" />Not applicable</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_applicant_sex %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field">
              <label for="applicant_race_1">Applicant Race:</label>
              <div class="widget select single">
                <select class="param" name="applicant_race_1" id="applicant_race_1" multiple data-placeholder="Select an Applicant Race">
                  <option value="1">American Indian or Alaska Native</option>
                  <option value="2">Asian</option>
                  <option value="3">Black or African American</option>
                  <option value="4">Native Hawaiian or Other Pacific Islander</option>
                  <option value="5">White</option>
                  <option value="6">Information not provided by applicant in mail, Internet, or telephone application</option>
                  <option value="7">Not applicable</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_applicant_race_1 %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field">
              <label for="applicant_ethnicity">Applicant Ethnicity:</label>
              <div class="widget select">
                <select class="param" name="applicant_ethnicity" id="applicant_ethnicity" multiple data-placeholder="Select an Applicant Ethnicity">
                  <option value="1">Hispanic or Latino</option>
                  <option value="2">Not Hispanic or Latino</option>
                  <option value="3">Information not provided by applicant in mail, Internet, or telephone application</option>
                  <option value="4">Not applicable</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_applicant_ethnicity %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field applicant_income_000s">
              <label for="applicant_income_000s">Applicant Income:</label>
              <div class="widget range check-range">
                <span>$</span><input type="text" class="param require-numeric min-value" name="applicant_income_000s-min" data-comparator=">" value="" maxlength="7" placeholder="Min."><span class="thousands">,000 &nbsp; to &nbsp;</span>
                <span>$</span><input type="text" class="param require-numeric max-value" name="applicant_income_000s-max" data-comparator="<" value="" placeholder="Max."><span class="thousands">,000</span>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_applicant_income_000s %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional-toggle" data-optional="co_applicant">
              <label for="include_co_applicant">Show co-applicant filters?</label>
              <div class="widget radio inline include_co_applicant">
                <label><input type="radio" name="include_co_applicant" value="1" />Yes</label>
                <label><input type="radio" name="include_co_applicant" value="0" checked />No</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_co_applicant_filters %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional co_applicant hidden" data-optional="co_applicant">
              <label for="co_applicant_sex">Co-Applicant Sex</label>
              <div class="widget checkbox checkbox-inline">
                <label><input type="checkbox" class="param" name="co_applicant_sex[]" value="1" />Male</label>
                <label><input type="checkbox" class="param" name="co_applicant_sex[]" value="2" />Female</label>
                <label><input type="checkbox" class="param" name="co_applicant_sex[]" value="3" />Not provided</label>
                <label><input type="checkbox" class="param" name="co_applicant_sex[]" value="4" />Not applicable</label>
                <label><input type="checkbox" class="param" name="co_applicant_sex[]" value="5" />No co-applicant</label>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_co_applicant_sex %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional co_applicant hidden" data-optional="co_applicant">
              <label for="co_applicant_race_1">Co-Applicant Race:</label>
              <div class="widget select">
                <select class="param" name="co_applicant_race_1" id="co_applicant_race_1" multiple data-placeholder="Select a Co-Applicant Race">
                  <option value="1">American Indian or Alaska Native</option>
                  <option value="2">Asian</option>
                  <option value="3">Black or African American</option>
                  <option value="4">Native Hawaiian or Other Pacific Islander</option>
                  <option value="5">White</option>
                  <option value="6">Information not provided by applicant in mail, Internet, or telephone application</option>
                  <option value="7">Not applicable</option>
                  <option value="8">No co-applicant</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_co_applicant_race_1 %></span>
            </li>
            <!-- /filter field -->

            <!-- filter field -->
            <li class="field optional co_applicant hidden" data-optional="co_applicant">
              <label for="co_applicant_ethnicity">Co-Applicant Ethnicity:</label>
              <div class="widget select">
                <select class="param" name="co_applicant_ethnicity" id="co_applicant_ethnicity" multiple data-placeholder="Select a Co-Applicant Ethnicity">
                  <option value="1">Hispanic or Latino</option>
                  <option value="2">Not Hispanic or Latino</option>
                  <option value="3">Information not provided by applicant in mail, Internet, or telephone application</option>
                  <option value="4">Not applicable</option>
                  <option value="5">No co-applicant</option>
                </select>
              </div>
              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
              <span class="help-text"><%= explore_tooltips_co_applicant_ethnicity %></span>
            </li>
            <!-- /filter field -->

          </ul>

        </div>

        <!-- /filter section -->

        <!-- filter footer -->

        <div class="filter footer">
          <div class="next-steps">
            <div class="need-more">
              <p class="sub-header">Need more insight?</p>
              <p>Compare your filtered data across state, loan type, applicant race, and more with a custom summary table.</p>
            </div>
            <div class="insight">
              <a href="#summary" class="section-toggle action-arrow">Create a summary table<i class="cf-icon cf-icon-right"></i></a>
            </div>
          </div>

        </div>

        <!-- /filter footer -->

      </div>

      <!-- /all filters section -->

      <!-- preview section -->

      <h2>Preview the results</h2>

      <div class="msg preview-table">

      </div>

      <div class="preview closed">
          <p class="nlw">
            <img src="static/img/icon_data_2x.png" width="30" height="30" alt="Data icon" class="data-minicon" />
            There are <em class="calculating"><img src="static/img/icon_spinner_2x.gif" alt="Loading icon" height="30" width="30" class="spinnergif"></em><strong class="count">many</strong> HMDA records from <strong class="years">2007 - 2013</strong><span class="filter-selection"> with the above selected filters</span>.
          </p>

          <div class="title">

            <a href="#preview"><h3>Preview the first 100 rows<i class="cf-icon cf-icon-minus-round"></i></h3></a>

          </div>

          <div id="preview">
            <div class="spinning"></div>
          </div>

      </div>

      <!-- /preview section -->

      <!-- download and share section -->

      <div class="download-share no-summary">

        <section id="download" class="download">

          <h2>Download raw data</h2>

          <div class="inner">

            <label for="format">File format:</label>
            <div class="select widget">
              <select name="format" id="format">
                <option value="csv">Spreadsheet (CSV)</option>
                <option value="json">JSON</option>
                <option value="jsonp">JSONP</option>
                <option value="xml">XML</option>
              </select>
            </div>

            <div class="radio widget codes">
              <label><input type="radio" name="codes" value="0" checked />Include labels</label>
              <label><input type="radio" name="codes" value="1" />Include labels and codes</label>

              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round bump-up"></i></div>
              <span class="help-text"><%= explore_tooltips_download_raw_data %></span>

            </div>

            <div class="msg mobile-warning">

              <%= explore_mobile_warning %>

            </div>

            <div class="action">

              <button type="submit" class="submit btn" id="download-button"><i class="cf-icon cf-icon-download"></i>Download</button>

              <div class="filesize hidden">

                <p class="download-size">The file is approx. <span class="bytes">1 MB</span></p>

                <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
                <span class="help-text"><%= explore_tooltips_filesize %></span>

              </div>

            </div>

          </div>

        </section>

        <section id="share" class="share">

          <h2>Save & share your work</h2>

          <div class="inner">

            <label for="share_url">Save your filters, or share them with a link:</label>
            <div class="text widget">
              <input type="text" id="share_url" class="share_url share-url-width" name="share_url" value="" placeholder="Select filters above">
            </div>

            <div class="action">

              <button type="button" class="btn share btn-bump-down" id="share-button" data-clipboard-target="share_url"><i class="cf-icon cf-icon-link"></i>Share</button>

            </div>

          </div>

        </section>

      </div>

      <!-- download and share section -->

    </form>

  </div>

  <!-- /filters section -->

  <!-- group section -->

  <div id="summary" class="app-section">

    <div class="cf-error" id="msa-note">
      <span class="cf-icon cf-icon-error-round highlight"></span>
      <p class="message">This tool will sunset in the coming months.</p>
      <p><a href="https://www.consumerfinance.gov/data-research/hmda-api-retirement/">Learn more about what to expect</a></p>
    </div>

    <h2>Create a summary table</h2>

    <div class="intro">
      <div class="nlw">
        <img src="static/img/icon_data_2x.png" width="30" height="30" alt="Data icon" class="data-minicon" />
          <p>There are <em class="calculating"><img src="static/img/icon_spinner_2x.gif" alt="Loading icon" width="30" height="30" class="spinnergif"></em><strong class="count">many</strong> HMDA records from <strong class="years">2007 - 2012</strong> with the previously selected filters.</p>
          <p class="not-quite">Not quite what you're looking for? You can also go back and <a href="#filters">modify your filters.</a></p>
      </div>
    </div>

    <div class="instructions">
      <p class="sub-header">Choose variables</p>
      <p>Compare your filtered data by choosing up to three variables below.<button class="submit-btn" id="summary-submit">Submit</button></p>
    </div>

    <form id="summary-table-form">

      <div class="drop-downs">
        <div class="variable">

          <select id="variable0" class="chzn-single" data-summary-table-input="both" data-placeholder="Select the first variable">
            <option value></option>
          </select>

        </div>

        <div class="variable with-reset-link">

          <select id="variable1" class="chzn-single" data-summary-table-input="both" data-placeholder="Select the second variable">
            <option value></option>
          </select>
          <a href="#" id="reset-variable1" class="hidden reset-field" data-summary-table-input="both">Remove</a>

        </div>

        <div class="variable with-reset-link">

          <select id="variable2" class="chzn-single" data-summary-table-input="both" data-placeholder="Select the third variable">
            <option value></option>
          </select>
          <a href="#" id="reset-variable2" class="hidden reset-field" data-summary-table-input="both">Remove</a>

        </div>

        <div class="calculate">
          <select class="chzn-single" id="calculate-by" data-summary-table-input="select" data-placeholder="Select a variable">
            <option value="count" class="indent">Number of records</option>
            <option placeholder class="placeholder" disabled="disabled">Applicant Income</option>
            <option value="min_applicant_income_000s" class="indent" data-verbose="Min applicant income">Min</option>
            <option value="max_applicant_income_000s" class="indent" data-verbose="Max applicant income">Max</option>
            <option value="avg_applicant_income_000s" class="indent" data-verbose="Average applicant income">Average</option>
            <option placeholder class="placeholder" disabled="disabled">Loan Amount</option>
            <option value="min_loan_amount_000s" class="indent" data-verbose="Min loan amount">Min</option>
            <option value="max_loan_amount_000s" class="indent" data-verbose="Max loan amount">Max</option>
            <option value="avg_loan_amount_000s" class="indent" data-verbose="Average loan amount">Average</option>
            <option value="sum_loan_amount_000s" class="indent" data-verbose="Sum Total">Sum Total</option>
          </select>
        </div>

      </div>
      <div id="error"></div>
      <div id="summary-wrapper">
        <div id="summary-table-container">
          <div id="summary-loading">
              <p><img src="static/img/icon_spinner_2x.gif" alt="Loading icon" height="30" width="30" class="spinnergif"> This might take a few minutes... Please wait &mdash; we're figuring it out for you!</p>
          </div>
        </div>
      </div>


      <div class="spinning"></div>

      <!-- download and share section -->

      <div class="download-share summary">

        <section id="download" class="download">

          <h2>Download raw data</h2>

          <div class="inner">

            <label for="format">File format:</label>
            <div class="select widget">
              <select name="format" id="raw-format">
                <option value="csv">Spreadsheet (CSV)</option>
                <option value="json">JSON</option>
                <option value="jsonp">JSONP</option>
                <option value="xml">XML</option>
              </select>
            </div>

            <div class="radio widget raw-codes">
              <label><input type="radio" name="codes" value="0" checked />Include labels</label>
              <label><input type="radio" name="codes" value="1" />Include labels and codes</label>

              <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round bump-up"></i></div>
              <span class="help-text"><%= explore_tooltips_download_raw_data %></span>
            </div>

            <div class="msg mobile-warning">

              <%= explore_mobile_warning %>

            </div>

            <div class="action">

              <button type="submit" class="submit btn" id="download-raw-button"><i class="cf-icon cf-icon-download"></i>Download</button>

              <div class="filesize hidden">

                <p class="download-size">The file is approx. <span class="bytes">1 MB</span></p>

                <div class="help" role="tooltip"><i class="cf-icon cf-icon-help-round"></i></div>
                <span class="help-text"><%= explore_tooltips_filesize %></span>

              </div>

            </div>

          </div>

        </section>

        <section id="download-summary" class="download-summary">

          <h2>Download table</h2>

          <div class="inner">

            <label for="summary-table-format">Summary table file format:</label>
            <div class="select widget">
              <select name="summary-table-format" id="summary-table-format">
                <option value="csv">Spreadsheet (CSV)</option>
                <option value="json">JSON</option>
                <option value="jsonp">JSONP</option>
                <option value="xml">XML</option>
              </select>
            </div>

            <div class="msg mobile-warning">

              <%= explore_mobile_warning %>

            </div>

            <div class="action">

              <button type="submit" class="submit btn btn-bump-down" id="download-summary-button"><i class="cf-icon cf-icon-download"></i>Download</button>

            </div>

          </div>

        </section>

        <section id="share" class="share">

          <h2>Save & share your work</h2>

          <div class="inner">

            <label for="share_url-1">Save your filters, or share them<br>with a link:</label>
            <div class="text widget">
              <input type="text" class="share_url" id="share_url" name="share_url-1" value="" placeholder="Select filters above">
            </div>

            <div class="action">

              <button href="#" type="button" class="btn share btn-bump-down" data-clipboard-target="share_url"><i class="cf-icon cf-icon-link"></i>Share</button>

            </div>

          </div>

        </section>

      </div>

      <!-- download and share section -->

    </form>

  </div>

  <!-- /group section -->

  <%= footer %>

  <script src="static/js/main.min.js"></script>
  <script src="static/js/explore.min.js"></script>
  <script src="https://s3.amazonaws.com/cfpb-public-hmda-data/hmda.js"></script>
</body>
</html>
