<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Home Mortgage Disclosure Act</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/main.min.css">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="static/css/icons-ie7.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="static/js/ie8.min.js"></script>
      <link rel="stylesheet" href="static/css/ie8.min.css">
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMMLRS');</script>
    <!-- End Google Tag Manager -->

    <script>
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>
  </head>
  <!--[if lt IE 7]>      <body class="lt-ie9 lt-ie8 lt-ie7 hmda explore learn-more"> <![endif]-->
  <!--[if IE 7]>         <body class="lt-ie9 lt-ie8 hmda explore learn-more"> <![endif]-->
  <!--[if IE 8]>         <body class="lt-ie9 hmda explore learn-more"> <![endif]-->
  <!--[if IE 9]>         <body class="lt-ie10 hmda explore learn-more"> <![endif]-->
  <!--[if gt IE 9]><!--><body class="hmda explore learn-more"><!--<![endif]-->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <div class="top-banner">
      <div class="inner">
        <p class="return-cfgov">Return to <a href="http://www.consumerfinance.gov">consumerfinance.gov</a></p>
        <p class="official-website">An official website of the United States Government<img src="static/img/icon_usflag.png" width="16" height="11" alt="US Flag"></p>
      </div>
    </div>

    <header role="banner">

        <div class="logo">

          <a href="http://www.consumerfinance.gov"><img src="static/img/logo_2x.png" width="211" height="52" alt="Consumer Financial Protection Bureau"></a>

        </div>

        <button class="navicon">
          <i class="cf-icon cf-icon-menu"></i>
        </button>

        <nav role="navigation" aria-label="Main HMDA Menu">
            <ul>
                <li><a href=".">Home</a></li>
                <li><a href="learn-more" class="active">About HMDA</a></li>
                <li><a href="for-filers">Resources for filers</a></li>
                <li><a href="explore">Explore the data</a></li>
                <li><a href="api">Public API</a></li>
            </ul>
        </nav>

      </header>

      <div class="hero" role="main">

        <div class="inner">

          <h1>About HMDA</h1>

        </div>

      </div>



<div id="learn-more">

  <section id="what-is-hmda">

        <div class="background">
        <div class="inner">

        <p>The <a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title12/pdf/USCODE-2011-title12-chap29.pdf">Home Mortgage Disclosure Act (HMDA)</a> requires many financial institutions to maintain, report, and publicly disclose loan-level information about mortgages.  HMDA was originally enacted by Congress in 1975 and is implemented by <a href="http://www.gpo.gov/fdsys/pkg/CFR-2012-title12-vol8/xml/CFR-2012-title12-vol8-part1003.xml">Regulation C</a>.</p>
        <p>
          Congress amended HMDA in 2010 and the Bureau finalized <a href="https://www.consumerfinance.gov/policy-compliance/rulemaking/final-rules/regulation-c-home-mortgage-disclosure-act/">a rule</a> implementing changes to HMDA in 2015. Most of the rule's provisions affect data collected in 2018 and reported in 2019. However, beginning with data collected in 2017, depository institutions that originated fewer than 25 covered closed-end mortgages in either of the preceding two years are not required to report.
        </p>
        <p>
          To learn more about recent changes, check out the <a href="">Data Point article.</a>
        </p>
        <div class="links">
          <ul>
            <li>
              <a href="https://www.consumerfinance.gov/policy-compliance/guidance/implementation-guidance/hmda-implementation/ " class="action-arrow">HMDA Implementation</a>
            </li>
            <li>
              <a href="https://www.consumerfinance.gov/data-research/research-reports/cfpb-data-point-mortgage-market-activity-and-trends/" class="action-arrow">Article on 2017 trends</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </section>
  <section id="why_is_hmda_important">
    <div class="background">
      <div class="inner">
        <h2>Why it's important</h2>
          <p>These public data are important because they help show whether lenders are serving the housing needs of their communities; they give public officials information that helps them make decisions and policies; and they shed light on lending patterns that could be discriminatory.</p>

          <p>If you are concerned about mortgage discrimination or believe you have been discriminated against, please visit <a href="http://www.consumerfinance.gov/askcfpb/343/i-applied-for-a-mortgage-but-my-lender-gave-me-a-higher-interest-rate-or-charged-me-higher-fees-than-i-should-have-gotten-based-on-my-creditworthiness-i-think-that-the-lender-discriminated-against-me-what-are-my-rights-under-the-law.html">Ask CFPB</a>.</p>
        </div>
      </div>
  </section>
  <section id="highlights">
    <div class="background">
    <div class="inner">

        <h2>Highlights from 2017 data</h2>
        <p>In 2017, there were 14.3 million HMDA records from 5,852 financial institutions based on data reported as of April 18, 2018.
        </p>
        <p>The number of institutions reporting in 2017 fell 13.5 percent from 2016, partly due to the increase of the reporting threshold from one to 25 covered originations for depository institutions.</p>
        <p>
          Home-purchased originations increased to 3.7 million loans, the highest level since 2007
          <span class="help" role="tooltip"><sup>1</sup></span>
          <span class="help-text">These data represent first-lien originations for owner-occupied 1-to-4-family homes (including manufactured housing)</span>
          Refinances declined, driven in part by increasing interest rates.
        </p>
        <p>More than half (56 percent) of home-purchase originations
          <span class="help" role="tooltip"><sup>2</sup></span>
          <span class="help-text">These data represent first-lien originations for owner-occupied, site-built, 1-to-4-family homes</span>
        were made by nondepository, independent mortgage companies.</p>
        <p><a href="https://www.consumerfinance.gov/data-research/research-reports/cfpb-data-point-mortgage-market-activity-and-trends/">Read more about the trends in the 2017 data</a></p>
        <div class="links">
          <ul>
            <li>
              <a href="https://www.consumerfinance.gov/about-us/newsroom/ffiec-announces-availability-2017-data-mortgage-lending/" class="action-arrow">Press release<i class="cf-icon cf-icon-external-link"></i></a>
            </li>
            <li>
              <a href="https://www.consumerfinance.gov/data-research/research-reports/cfpb-data-point-mortgage-market-activity-and-trends/" class="action-arrow">Article on 2017 trends<i class="cf-icon cf-icon-external-link"></i></a>
            </li>            
            <li>
              <a href="https://www.federalreserve.gov/publications/2017-bulletin.htm" class="action-arrow">Article on 2016 trends<i class="cf-icon cf-icon-external-link"></i></a>
            </li>
            <li>
              <a href="https://www.federalreserve.gov/pubs/bulletin/2016/articles/hmda/2015-hmda-data.htm" class="action-arrow">Article on 2015 trends<i class="cf-icon cf-icon-external-link"></i></a>
            </li>
            <li>
              <a href="http://www.federalreserve.gov/pubs/bulletin/2015/articles/hmda/2014-HMDA-Data.htm" class="action-arrow">Article on 2014 trends<i class="cf-icon cf-icon-external-link"></i></a>
            </li>
            <li>
              <a href="http://www.federalreserve.gov/pubs/bulletin/2014/articles/hmda/2013-HMDA-Data.htm" class="action-arrow">Article on 2013 trends<i class="cf-icon cf-icon-external-link"></i></a>
            </li>
            <li>
              <a href="http://www.federalreserve.gov/pubs/bulletin/2013/articles/hmda/default.htm" class="action-arrow">Article on 2012 trends<i class="cf-icon cf-icon-external-link"></i></a>
            </li>
          </ul>
        </div>
</div>
</div>
  </section>

    <section id="analyze-hmda-data">
      <div class="background">
        <div class="inner">
          <h2>Working with HMDA data</h2>
          <p>You can explore HMDA data on your own using our online tools, which use HMDA data submitted as of April 18, 2018. Some financial institutions may have submitted changes to their data since that time. For the most current available data see <a href="https://ffiec.cfpb.gov/data-publication/">FFIEC's HMDA Data Publication Page.</a></p>

           <div class="links">
            <ul>
              <li>
                <a href="https://ffiec.cfpb.gov/" class="action-arrow">Visit the FFIEC website <i class="cf-icon cf-icon-external-link"></i></a>
              </li>
              <li>
                <a href="http://www.ffiec.gov/hmda/guide.htm" class="action-arrow">Guide to HMDA Reporting<i class="cf-icon cf-icon-external-link"></i></a>
              </li>
              <li>
                <a href="https://www.consumerfinance.gov/policy-compliance/guidance/supervision-examinations/home-mortgage-disclosure-act-hmda-examination-procedures/" target="_blank" rel="noopener noreferrer" class="action-arrow internal-link">
                  Bureau Exam Manual</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section id="transcript">
      <div class="background">
        <div class="inner">
          <h2>"What is HMDA?" video</h2>
          <p><a href=".#video">Watch our introduction to HMDA</a> featuring Ren Essene, Bureau Data Policy Manager. You can also read the transcript below.</p>

          <div class="filter transcript closed" id="transcript-toggle" title="show the video transcript">

              <a href="#transcript" class="internal-link">
                <h3><i class="cf-icon cf-icon-minus-round"></i>  HMDA video transcript</h3>
              </a>

          </div>

          <div id="transcript-text">

            <%= learn_more_transcript_text %>

          </div>

        </div>
      </div>
    </section>


    <section id="other-resources">
      <div class="background">
        <div class="inner">
          <h2>Other Bureau Data</h2>
          <p>The Bureau also <a href="https://www.consumerfinance.gov/data-research/consumer-complaints/">publishes complaint information</a> on mortgages as well as other financial products. The data show the kinds of issues consumers have reported and how different companies have responded. You can view, sort and analyze the data, or you can download or build on the data using our API.</p>
        </div>
      </div>
    </section>


</div>

  <%= footer %>

  <script src="static/js/main.min.js"></script>
  <script>
  $(function(){
    (function(){

    $('.help').tooltip({
        placement: 'right',
        container: 'body',
        title: function getTooltipTitle(){
          return $( this ).next('.help-text').html();
        }
      }).on('shown.bs.tooltip', function () {
        $('.tooltip').css({
          'margin-left': '15px',
          'margin-top': '6px',
          'width': '250px'
        });
      }).on('hide.bs.tooltip', function () {
        $('.tooltip').css({
          'margin-left': '0',
          'margin-top': '0',
          'width': 'auto'
        });
      });

      /* only need to reference the id of the chunk of code you want to show/hide */
      var transcript = {
        init: function()
         {
          $('#transcript-text').removeClass('hidden').hide();
        },
        show: function() {
          $('#transcript-text').show();
          $('#transcript-toggle').removeClass('closed');
        },
        toggle: function() {
          $('#transcript-text').slideToggle();
          $('#transcript-toggle').toggleClass('closed');
        }
      }

      transcript.init();

      /* jumplink to the transcript showing breaks icons on refresh */
      if ( window.location.hash && window.location.hash === '#transcript' ) {
        transcript.show();
      }

      /* reveal the video transcript text */
      $('#transcript-toggle').on( 'click', function( ev ){
        ev.preventDefault();
        transcript.toggle();
      });

    })();

  });
  </script>
</body>
</html>
